In [1]:
import numpy as np
import pandas as pd

In [2]:
batsman = pd.read_excel('6671501a18c55_round2_input.xlsx', sheet_name='batsman_scorecard')

In [3]:
batsman.head()

,match id,batsman,batsman_id,batsman_dob,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,...,bowler_id,bowler_dob,bowler_details,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,match_dt,ingestion_timestamp
0,8587795,AJ Fh,37351,1986-11-17,AUS:Right-hand bat:Slow left-arm orthodox:,1,0,2,14,15,...,6718844.0,1997-02-05,AUS:Right-hand bat:Right-arm fast:,0.0,0.0,93.33,1.0,NaN,2021-01-08,2022-03-22 12:43:21
1,8587795,Md Ni,181404,1985-01-01,AFG:Right-hand bat:Right-arm offbreak:,0,0,2,71,41,...,NaN,NaN,NaN,NaN,NaN,173.17,9.0,2.0,2021-01-08,2022-03-22 12:43:21
2,8587795,JW Ws,1635773,1988-08-13,AUS:Right-hand bat:Right-arm medium:,0,0,1,16,13,...,NaN,NaN,NaN,NaN,NaN,123.08,1.0,NaN,2021-01-08,2022-03-22 12:43:21
3,8587795,DR Bs,2170762,1991-04-30,ENG:Right-hand bat:Slow left-arm orthodox:,0,0,1,2,4,...,1905847.0,1991-02-12,AUS:Right-hand bat:Right-arm fast-medium:,0.0,0.0,50.00,NaN,NaN,2021-01-08,2022-03-22 12:43:21
4,8587795,AT Cy,2285051,1991-08-27,AUS:Left-hand bat:None:,1,1,1,42,25,...,1594319.0,1988-12-18,PAK:Left-hand bat:Slow left-arm orthodox:,0.0,0.0,168.00,3.0,3.0,2021-01-08,2022-03-22 12:43:21

In [4]:
batsman.isnull().sum()

match id                   0
batsman                    0
batsman_id                 0
batsman_dob                0
batsman_details            0
is_batsman_captain         0
is_batsman_keeper          0
inning                     0
runs                       0
balls_faced                0
over_faced_first           0
wicket kind             5461
out_by_bowler           5461
out_by_fielder             6
bowler_id               6507
bowler_dob              6507
bowler_details          6507
is_bowler_keeper        5922
is_bowler_captain       6507
strike_rate                0
Fours                  10464
Sixes                  15684
match_dt                   0
ingestion_timestamp        0
dtype: int64

In [5]:
# List of columns to keep
columns_to_keep = [
    'batsman',                   
    'batsman_id',
    'batsman_details',                
    'is_batsman_keeper',         
    'runs',                      
    'balls_faced',  
    'wicket kind',                    
    'strike_rate',  
    'match_dt'             
]

batsman = batsman[columns_to_keep]

In [6]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt
0,AJ Fh,37351,AUS:Right-hand bat:Slow left-arm orthodox:,0,14,15,lbw,93.33,2021-01-08
1,Md Ni,181404,AFG:Right-hand bat:Right-arm offbreak:,0,71,41,NaN,173.17,2021-01-08
2,JW Ws,1635773,AUS:Right-hand bat:Right-arm medium:,0,16,13,NaN,123.08,2021-01-08
3,DR Bs,2170762,ENG:Right-hand bat:Slow left-arm orthodox:,0,2,4,caught,50.00,2021-01-08
4,AT Cy,2285051,AUS:Left-hand bat:None:,1,42,25,caught,168.00,2021-01-08

In [7]:
batsman = batsman.sort_values('batsman_id')

In [8]:
def calculate_batsman_stats(group):
    Batting_Strike_Rate = group['strike_rate'].mean()
    Batting_Average = group['runs'].mean()
    hundreds = (group['runs'] >= 100).sum()
    fifties = (group['runs'] >= 50).sum()
    total_runs = (group['runs']).sum()
    return pd.Series({
        'Batting_Strike_Rate': Batting_Strike_Rate,
        'Batting_Average': Batting_Average,
        "100S": hundreds,
        "50S": fifties,
        "Runs": total_runs,
    })

# Group by 'batsman_id' and apply the calculation function
batsman_stats = batsman.groupby('batsman_id').apply(calculate_batsman_stats).reset_index()

# Merge the calculated stats back into the original DataFrame
batsman = batsman.merge(batsman_stats, on='batsman_id', how='left')

In [9]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,Batting_Average,100S,50S,Runs
0,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,8,11,caught,72.73,2021-01-01,40.910000,3.333333,0.0,0.0,10.0
1,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,2,4,caught,50.00,2021-01-02,40.910000,3.333333,0.0,0.0,10.0
2,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,0,3,caught,0.00,2021-01-04,40.910000,3.333333,0.0,0.0,10.0
3,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,1,4,caught,25.00,2022-12-17,119.160577,14.019231,0.0,2.0,729.0
4,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,39,15,caught,260.00,2021-08-07,119.160577,14.019231,0.0,2.0,729.0

In [10]:
def strike_rate_weight(sr):
    if sr >= 150:
        return 50
    elif sr >= 100:
        return 40
    elif sr >= 80:
        return 30
    else:
        return 0

def avg_weight(avg):
    if avg >= 50:
        return 30
    elif avg >= 40:
        return 20
    elif avg >= 30:
        return 10
    else:
        return 5

def hundreds_weight(hundreds):
    if hundreds >= 3:
        return 30
    elif hundreds == 2:
        return 20
    elif hundreds == 1:
        return 10
    else:
        return 0

def fifties_weight(fifties):
    if fifties >= 5:
        return 20
    elif fifties >= 3:
        return 10
    elif fifties >= 1:
        return 5
    else:
        return 0

# Apply the functions to the respective columns
batsman['Strike Rate Points'] = batsman['Batting_Strike_Rate'].apply(strike_rate_weight)
batsman['Avg Points'] = batsman['Batting_Average'].apply(avg_weight)
batsman['100S Points'] = batsman['100S'].apply(hundreds_weight)
batsman['50S Points'] = batsman['50S'].apply(fifties_weight)

In [11]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,Batting_Average,100S,50S,Runs,Strike Rate Points,Avg Points,100S Points,50S Points
0,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,8,11,caught,72.73,2021-01-01,40.910000,3.333333,0.0,0.0,10.0,0,5,0,0
1,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,2,4,caught,50.00,2021-01-02,40.910000,3.333333,0.0,0.0,10.0,0,5,0,0
2,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,0,3,caught,0.00,2021-01-04,40.910000,3.333333,0.0,0.0,10.0,0,5,0,0
3,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,1,4,caught,25.00,2022-12-17,119.160577,14.019231,0.0,2.0,729.0,40,5,0,5
4,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,39,15,caught,260.00,2021-08-07,119.160577,14.019231,0.0,2.0,729.0,40,5,0,5

In [12]:
batsman['Total_Points'] = batsman['Strike Rate Points'] + batsman['Avg Points'] + batsman['100S Points'] + batsman['50S Points']

In [13]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,Batting_Average,100S,50S,Runs,Strike Rate Points,Avg Points,100S Points,50S Points,Total_Points
0,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,8,11,caught,72.73,2021-01-01,40.910000,3.333333,0.0,0.0,10.0,0,5,0,0,5
1,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,2,4,caught,50.00,2021-01-02,40.910000,3.333333,0.0,0.0,10.0,0,5,0,0,5
2,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,0,3,caught,0.00,2021-01-04,40.910000,3.333333,0.0,0.0,10.0,0,5,0,0,5
3,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,1,4,caught,25.00,2022-12-17,119.160577,14.019231,0.0,2.0,729.0,40,5,0,5,50
4,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,39,15,caught,260.00,2021-08-07,119.160577,14.019231,0.0,2.0,729.0,40,5,0,5,50

In [14]:
# Converting 'match_dt' to datetime for proper sorting
batsman['match_dt'] = pd.to_datetime(batsman['match_dt'])

# Sorting by 'Total_Points' (descending) and 'match_dt' (ascending) where 'batsman_id' is equal
batsman.sort_values(by=['Total_Points', 'batsman_id', 'match_dt'],
                    ascending=[False, True, True], inplace=True)

In [15]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,Batting_Average,100S,50S,Runs,Strike Rate Points,Avg Points,100S Points,50S Points,Total_Points
1583,F du Ps,313809,SA:Right-hand bat:Legbreak:,0,37,26,caught,142.31,2021-02-26,114.388095,33.309524,3.0,23.0,2798.0,40,10,30,20,100
1590,F du Ps,313809,SA:Right-hand bat:Legbreak:,0,17,11,lbw,154.55,2021-03-01,114.388095,33.309524,3.0,23.0,2798.0,40,10,30,20,100
1584,F du Ps,313809,SA:Right-hand bat:Legbreak:,0,17,17,bowled,100.00,2021-03-03,114.388095,33.309524,3.0,23.0,2798.0,40,10,30,20,100
1530,F du Ps,313809,SA:Right-hand bat:Legbreak:,0,0,3,lbw,0.00,2021-04-10,114.388095,33.309524,3.0,23.0,2798.0,40,10,30,20,100
1553,F du Ps,313809,SA:Right-hand bat:Legbreak:,0,36,33,NaN,109.09,2021-04-16,114.388095,33.309524,3.0,23.0,2798.0,40,10,30,20,100

In [16]:
batsman.columns

Index(['batsman', 'batsman_id', 'batsman_details', 'is_batsman_keeper', 'runs',
       'balls_faced', 'wicket kind', 'strike_rate', 'match_dt',
       'Batting_Strike_Rate', 'Batting_Average', '100S', '50S', 'Runs',
       'Strike Rate Points', 'Avg Points', '100S Points', '50S Points',
       'Total_Points'],
      dtype='object')

In [17]:
# Step 1: Calculate Consistency Score based on strike rate
batsman['std_strike_rate'] = batsman.groupby('batsman_id')['strike_rate'].transform('std')

# Step 2: Calculate Recency Score using Exponentially Weighted Average for strike rate
batsman = batsman.sort_values(by=['batsman_id', 'match_dt'])
batsman['exp_weighted_avg_sr'] = batsman.groupby('batsman_id')['strike_rate'].transform(lambda x: x.ewm(span=5, adjust=False).mean())

# Normalize consistency and recency scores
batsman['std_strike_rate_norm'] = (batsman['std_strike_rate'] - batsman['std_strike_rate'].min()) / (batsman['std_strike_rate'].max() - batsman['std_strike_rate'].min())
batsman['exp_weighted_avg_sr_norm'] = (batsman['exp_weighted_avg_sr'] - batsman['exp_weighted_avg_sr'].min()) / (batsman['exp_weighted_avg_sr'].max() - batsman['exp_weighted_avg_sr'].min())

# Combine Scores
# Assuming we give equal weight to each component
batsman['final_score'] = (batsman['Total_Points'] / batsman['Total_Points'].max()) + \
                         (1 - batsman['std_strike_rate_norm']) + \
                         batsman['exp_weighted_avg_sr_norm']

# Get the final score for each batsman
final_batsman_scores = batsman.groupby('batsman_id')['final_score'].mean().reset_index()

print(final_batsman_scores)

      batsman_id  final_score
0          31464     1.013336
1          34061     1.376487
2          36665     1.321026
3          37351     1.628168
4          41740     1.651995
...          ...          ...
2058     9822322          NaN
2059     9822392          NaN
2060     9874052          NaN
2061     9883250          NaN
2062     9899140          NaN

[2063 rows x 2 columns]

In [18]:
batsman.rename(columns={'std_strike_rate_norm': 'Consistency_Score', 'exp_weighted_avg_sr_norm': 'Recency_Score'}, inplace=True)

In [19]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Strike Rate Points,Avg Points,100S Points,50S Points,Total_Points,std_strike_rate,exp_weighted_avg_sr,Consistency_Score,Recency_Score,final_score
0,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,8,11,caught,72.73,2021-01-01,40.910000,...,0,5,0,0,5,37.207315,72.730000,0.137397,0.121217,1.033820
1,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,2,4,caught,50.00,2021-01-02,40.910000,...,0,5,0,0,5,37.207315,65.153333,0.137397,0.108589,1.021192
2,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,0,3,caught,0.00,2021-01-04,40.910000,...,0,5,0,0,5,37.207315,43.435556,0.137397,0.072393,0.984995
13,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,6,5,lbw,120.00,2021-01-02,119.160577,...,40,5,0,5,50,87.348364,120.000000,0.322555,0.200000,1.377445
54,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,0,2,caught,0.00,2021-01-06,119.160577,...,40,5,0,5,50,87.348364,80.000000,0.322555,0.133333,1.310778

In [20]:
batsman = batsman.drop_duplicates(subset=['batsman_id'], keep='first')

In [21]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Strike Rate Points,Avg Points,100S Points,50S Points,Total_Points,std_strike_rate,exp_weighted_avg_sr,Consistency_Score,Recency_Score,final_score
0,DG Be,31464,NZ:Right-hand bat:Right-arm medium:,0,8,11,caught,72.73,2021-01-01,40.910000,...,0,5,0,0,5,37.207315,72.73,0.137397,0.121217,1.033820
13,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,0,6,5,lbw,120.00,2021-01-02,119.160577,...,40,5,0,5,50,87.348364,120.00,0.322555,0.200000,1.377445
58,CJ Fn,36665,AUS:Right-hand bat:Right-arm medium:,0,11,9,lbw,122.22,2021-01-01,99.854000,...,30,5,0,0,35,52.793254,122.22,0.194952,0.203700,1.358748
99,AJ Fh,37351,AUS:Right-hand bat:Slow left-arm orthodox:,0,18,13,caught,138.46,2021-01-01,101.781692,...,40,5,0,20,65,52.536959,138.46,0.194006,0.230767,1.686761
132,MC Hs,41740,AUS:Right-hand bat:Right-arm fast-medium:,0,56,35,caught,160.00,2021-01-22,116.654878,...,40,5,0,20,65,53.823271,160.00,0.198756,0.266667,1.717911

In [22]:
batsman.sort_values(by='Total_Points',ascending=False,inplace=True)

In [23]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Strike Rate Points,Avg Points,100S Points,50S Points,Total_Points,std_strike_rate,exp_weighted_avg_sr,Consistency_Score,Recency_Score,final_score
1583,F du Ps,313809,SA:Right-hand bat:Legbreak:,0,37,26,caught,142.31,2021-02-26,114.388095,...,40,10,30,20,100,60.357104,142.31,0.222883,0.237183,2.014300
10217,SA Yv,3125562,IND:Right-hand bat:Right-arm medium:,0,7,9,caught,77.78,2021-01-11,136.978500,...,40,10,30,20,100,64.481831,77.78,0.238115,0.129633,1.891518
6396,Md Rn,2263736,PAK:Right-hand bat:None:,1,104,64,NaN,162.50,2021-02-11,115.673261,...,40,20,20,20,100,43.395586,162.50,0.160249,0.270833,2.110585
5982,JC Br,2162782,ENG:Right-hand bat:None:,1,28,24,lbw,116.67,2021-03-12,123.307835,...,40,10,30,20,100,58.786308,116.67,0.217083,0.194450,1.977367
21172,Sn Gl,7491224,IND:Right-hand bat:Right-arm offbreak:,0,15,13,bowled,115.38,2021-04-11,123.351250,...,40,10,30,20,100,48.981507,115.38,0.180876,0.192300,2.011424

In [24]:
ranked_batsman = batsman[batsman['Runs']>100]

In [268]:
final_output = './NoWeights/Batsman-Ranking_Updated.xlsx'
ranked_batsman.to_excel(final_output, index=False)

In [2]:
bowler = pd.read_excel('6671501a18c55_round2_input.xlsx', sheet_name='bowler_scorecard')

In [3]:
bowler.head()

,match id,bowler,bowler_id,bowler_dob,bowler_details,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,match_dt,ingestion_timestamp
0,8587795,PM Se,55299,1984-11-25,AUS:Right-hand bat:Right-arm fast-medium:,0,0,2,38,0,24,9.50,0,8,4,1,1,0,2021-01-08,2022-03-21 03:44:58
1,8587795,Md Ni,181404,1985-01-01,AFG:Right-hand bat:Right-arm offbreak:,0,0,1,9,0,6,9.00,0,1,1,0,0,0,2021-01-08,2022-03-21 03:44:58
2,8587795,Id Wm,1594319,1988-12-18,PAK:Left-hand bat:Slow left-arm orthodox:,0,0,1,28,1,24,7.00,0,6,3,0,0,0,2021-01-08,2022-03-21 03:44:58
3,8587795,KW Rn,1905847,1991-02-12,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,40,1,24,10.00,0,10,2,3,3,0,2021-01-08,2022-03-21 03:44:58
4,8587795,DR Bs,2170762,1991-04-30,ENG:Right-hand bat:Slow left-arm orthodox:,0,0,2,37,1,24,9.25,0,7,4,1,0,0,2021-01-08,2022-03-21 03:44:58

In [4]:
# List of columns to keep
columns_to_keep = [
    'bowler',                   
    'bowler_id',  
    'bowler_details',              
    'runs',         
    'wicket_count',                      
    'balls_bowled',                         
    'economy',     
    'match_dt'          
]

# Keep only the specified columns and discard the rest
bowler = bowler[columns_to_keep]

In [5]:
bowler.isnull().sum()

bowler            0
bowler_id         0
bowler_details    0
runs              0
wicket_count      0
balls_bowled      0
economy           0
match_dt          0
dtype: int64

In [6]:
bowler.columns

Index(['bowler', 'bowler_id', 'bowler_details', 'runs', 'wicket_count',
       'balls_bowled', 'economy', 'match_dt'],
      dtype='object')

In [7]:
# Calculate Strike Rate for each match
bowler['Strike_Rate'] = np.where(
    bowler['wicket_count'] > 0,
    bowler['balls_bowled'] / bowler['wicket_count'],
    np.inf  # or np.nan to indicate no wickets
)

# Replace infinite values with NaN for mean calculation
bowler['Strike_Rate'].replace(np.inf, np.nan, inplace=True)

# Calculate the mean Strike Rate for each bowler
mean_strike_rate = bowler.groupby('bowler_id')['Strike_Rate'].transform('mean')

# Add the mean Strike Rate as a new column
bowler['Bowling_Strike_Rate'] = mean_strike_rate

In [8]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy,match_dt,Strike_Rate,Bowling_Strike_Rate
0,PM Se,55299,AUS:Right-hand bat:Right-arm fast-medium:,38,0,24,9.50,2021-01-08,NaN,14.453333
1,Md Ni,181404,AFG:Right-hand bat:Right-arm offbreak:,9,0,6,9.00,2021-01-08,NaN,17.848485
2,Id Wm,1594319,PAK:Left-hand bat:Slow left-arm orthodox:,28,1,24,7.00,2021-01-08,24.0,17.200000
3,KW Rn,1905847,AUS:Right-hand bat:Right-arm fast-medium:,40,1,24,10.00,2021-01-08,24.0,14.414583
4,DR Bs,2170762,ENG:Right-hand bat:Slow left-arm orthodox:,37,1,24,9.25,2021-01-08,24.0,16.625000

In [9]:
# Calculate Average Rate for each match
bowler['Average'] = np.where(
    bowler['wicket_count'] > 0,
    bowler['runs'] / bowler['wicket_count'],
    np.inf  # or np.nan to indicate no wickets
)

# Replace infinite values with NaN for mean calculation
bowler['Average'].replace(np.inf, np.nan, inplace=True)

# Calculate the mean Average Rate for each bowler
mean_average_rate = bowler.groupby('bowler_id')['Average'].transform('mean')

# Add the mean Average Rate as a new column
bowler['Bowling_Average'] = mean_average_rate

In [10]:
bowler.sort_values(by='bowler_id',ascending=True,inplace=True)

In [11]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy,match_dt,Strike_Rate,Bowling_Strike_Rate,Average,Bowling_Average
5230,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,23,0,6,23.00,2021-07-14,NaN,13.05,NaN,17.908333
9590,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,59,0,18,19.67,2022-06-17,NaN,13.05,NaN,17.908333
446,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,9,0,6,9.00,2021-01-30,NaN,13.05,NaN,17.908333
4736,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,21,0,12,10.50,2021-09-26,NaN,13.05,NaN,17.908333
5548,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,8,3,18,2.67,2021-12-21,6.0,13.05,2.666667,17.908333

In [12]:
bowler.isnull().sum()

bowler                    0
bowler_id                 0
bowler_details            0
runs                      0
wicket_count              0
balls_bowled              0
economy                   0
match_dt                  0
Strike_Rate            7537
Bowling_Strike_Rate     416
Average                7537
Bowling_Average         416
dtype: int64

In [13]:
bowler.rename(columns={'economy':'economy_per_match'},inplace=True)

In [14]:
bowler.columns

Index(['bowler', 'bowler_id', 'bowler_details', 'runs', 'wicket_count',
       'balls_bowled', 'economy_per_match', 'match_dt', 'Strike_Rate',
       'Bowling_Strike_Rate', 'Average', 'Bowling_Average'],
      dtype='object')

In [282]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy_per_match,match_dt,Strike_Rate,Bowling_Strike_Rate,Average,Bowling_Average
5230,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,23,0,6,23.00,2021-07-14,NaN,13.05,NaN,17.908333
9590,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,59,0,18,19.67,2022-06-17,NaN,13.05,NaN,17.908333
446,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,9,0,6,9.00,2021-01-30,NaN,13.05,NaN,17.908333
4736,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,21,0,12,10.50,2021-09-26,NaN,13.05,NaN,17.908333
5548,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,8,3,18,2.67,2021-12-21,6.0,13.05,2.666667,17.908333

In [15]:
def calculate_bowler_stats(group):
    Wickets = group['wicket_count'].sum()
    Economy = group['economy_per_match'].mean()
    W_Per_Innings = (group['wicket_count'] >= 4).sum()
    return pd.Series({
        'Wickets': Wickets,
        'Economy': Economy,
        '4W_Per_Innings':W_Per_Innings,
    })

# Group by 'bowler_id' and apply the calculation function
bowler_stats = bowler.groupby('bowler_id').apply(calculate_bowler_stats).reset_index()

# Merge the calculated stats back into the original DataFrame
bowler = bowler.merge(bowler_stats, on='bowler_id', how='left')

In [16]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy_per_match,match_dt,Strike_Rate,Bowling_Strike_Rate,Average,Bowling_Average,Wickets,Economy,4W_Per_Innings
0,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,23,0,6,23.00,2021-07-14,NaN,13.05,NaN,17.908333,27.0,9.49,0.0
1,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,59,0,18,19.67,2022-06-17,NaN,13.05,NaN,17.908333,27.0,9.49,0.0
2,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,9,0,6,9.00,2021-01-30,NaN,13.05,NaN,17.908333,27.0,9.49,0.0
3,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,21,0,12,10.50,2021-09-26,NaN,13.05,NaN,17.908333,27.0,9.49,0.0
4,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,8,3,18,2.67,2021-12-21,6.0,13.05,2.666667,17.908333,27.0,9.49,0.0

In [17]:
def calculate_bowler_stats(group):
    Total_Balls = group['balls_bowled'].sum()
    return pd.Series({
        'Total_Balls': Total_Balls,
    })

# Group by 'bowler_id' and apply the calculation function
bowler_stats = bowler.groupby('bowler_id').apply(calculate_bowler_stats).reset_index()

# Merge the calculated stats back into the original DataFrame
bowler = bowler.merge(bowler_stats, on='bowler_id', how='left')

In [41]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy_per_match,match_dt,Strike_Rate,Bowling_Strike_Rate,Average,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Balls
0,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,23,0,6,23.00,2021-07-14,NaN,13.05,NaN,17.908333,27.0,9.49,0.0,635
1,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,59,0,18,19.67,2022-06-17,NaN,13.05,NaN,17.908333,27.0,9.49,0.0,635
2,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,9,0,6,9.00,2021-01-30,NaN,13.05,NaN,17.908333,27.0,9.49,0.0,635
3,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,21,0,12,10.50,2021-09-26,NaN,13.05,NaN,17.908333,27.0,9.49,0.0,635
4,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,8,3,18,2.67,2021-12-21,6.0,13.05,2.666667,17.908333,27.0,9.49,0.0,635

In [42]:
# Define the point system based on the given ranges
def assign_strike_rate_points(sr):
    if sr <= 15:
        return 30
    elif 15 < sr <= 19:
        return 20
    elif 19 < sr <= 24:
        return 10
    else:
        return 0

def assign_economy_points(econ):
    if econ <= 3:
        return 50
    elif 3 < econ <= 5:
        return 40
    elif 5 < econ < 7:
        return 30
    else:
        return 0

def assign_avg_points(avg):
    if avg <= 20:
        return 30
    elif 20 < avg <= 30:
        return 20
    elif 30 < avg <= 40:
        return 10
    else:
        return 0
    
def assign_wickets_points(w):
    if w >= 4:
        return 30
    elif w>=2:
        return 20
    elif w>=1:
        return 10
    else:
        return 0

# Apply the point system to the respective columns
bowler['Strike_Rate_Points'] = bowler['Bowling_Strike_Rate'].apply(assign_strike_rate_points)
bowler['Overall_Economy_Points'] = bowler['Economy'].apply(assign_economy_points)
bowler['Avg_Points'] = bowler['Bowling_Average'].apply(assign_avg_points)
bowler['Wicket_Points'] = bowler['4W_Per_Innings'].apply(assign_wickets_points)

In [43]:
bowler['Total_Points'] = bowler['Strike_Rate_Points'] + bowler['Overall_Economy_Points'] + bowler['Avg_Points'] + bowler['Wicket_Points']

In [44]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy_per_match,match_dt,Strike_Rate,Bowling_Strike_Rate,...,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Balls,Strike_Rate_Points,Overall_Economy_Points,Avg_Points,Wicket_Points,Total_Points
0,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,23,0,6,23.00,2021-07-14,NaN,13.05,...,17.908333,27.0,9.49,0.0,635,30,0,30,0,60
1,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,59,0,18,19.67,2022-06-17,NaN,13.05,...,17.908333,27.0,9.49,0.0,635,30,0,30,0,60
2,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,9,0,6,9.00,2021-01-30,NaN,13.05,...,17.908333,27.0,9.49,0.0,635,30,0,30,0,60
3,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,21,0,12,10.50,2021-09-26,NaN,13.05,...,17.908333,27.0,9.49,0.0,635,30,0,30,0,60
4,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,8,3,18,2.67,2021-12-21,6.0,13.05,...,17.908333,27.0,9.49,0.0,635,30,0,30,0,60

In [45]:
# Converting 'match_dt' to datetime for proper sorting
bowler['match_dt'] = pd.to_datetime(bowler['match_dt'])

# Sorting by 'Total_Points' (descending) and 'match_dt' (ascending) where 'bowler_id' is equal
bowler.sort_values(by=['Total_Points', 'bowler_id', 'match_dt'],
                    ascending=[False, True, True], inplace=True)

In [46]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy_per_match,match_dt,Strike_Rate,Bowling_Strike_Rate,...,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Balls,Strike_Rate_Points,Overall_Economy_Points,Avg_Points,Wicket_Points,Total_Points
2169,DB Ri Ta,1663920,IND:Right-hand bat:Legbreak googly:,2,1,6,2.00,2021-11-09,6.0,6.000,...,2.00000,1.0,2.000000,0.0,6,30,50,30,0,110
6040,H So,2943443,UGA:Right-hand bat:Slow left-arm orthodox:,28,1,12,14.00,2022-04-09,12.0,14.625,...,12.84375,16.0,5.797143,2.0,288,30,30,30,20,110
6046,H So,2943443,UGA:Right-hand bat:Slow left-arm orthodox:,13,1,24,3.25,2022-07-11,24.0,14.625,...,12.84375,16.0,5.797143,2.0,288,30,30,30,20,110
6043,H So,2943443,UGA:Right-hand bat:Slow left-arm orthodox:,15,0,24,3.75,2022-07-15,NaN,14.625,...,12.84375,16.0,5.797143,2.0,288,30,30,30,20,110
6047,H So,2943443,UGA:Right-hand bat:Slow left-arm orthodox:,13,0,24,3.25,2022-07-17,NaN,14.625,...,12.84375,16.0,5.797143,2.0,288,30,30,30,20,110

In [47]:
bowler['std_economy'] = bowler.groupby('bowler_id')['economy_per_match'].transform('std')

# Step 2: Calculate Recency Score using Exponentially Weighted Average for economy
bowler = bowler.sort_values(by=['bowler_id', 'match_dt'])
bowler['exp_weighted_avg_eco'] = bowler.groupby('bowler_id')['economy_per_match'].transform(lambda x: x.ewm(span=5, adjust=False).mean())

# Normalize consistency and recency scores
bowler['std_economy_norm'] = (bowler['std_economy'] - bowler['std_economy'].min()) / (bowler['std_economy'].max() - bowler['std_economy'].min())
bowler['exp_weighted_avg_eco_norm'] = (bowler['exp_weighted_avg_eco'] - bowler['exp_weighted_avg_eco'].min()) / (bowler['exp_weighted_avg_eco'].max() - bowler['exp_weighted_avg_eco'].min())

# Combine Scores
# Assuming we give equal weight to each component
bowler['final_score'] = (bowler['Total_Points'] / bowler['Total_Points'].max()) + \
                         (1 - bowler['std_economy_norm']) + \
                         bowler['exp_weighted_avg_eco_norm']

# Get the final score for each batsman
final_bowler_scores = bowler.groupby('bowler_id')['final_score'].mean().reset_index()

print(final_bowler_scores)

      bowler_id  final_score
0         34061     1.541318
1         41740     1.865472
2         49496     1.921886
3         55299     1.689460
4         62432     1.617967
...         ...          ...
1506    9822322     1.147096
1507    9822392          NaN
1508    9822420          NaN
1509    9822441          NaN
1510    9888584          NaN

[1511 rows x 2 columns]

In [48]:
bowler.columns

Index(['bowler', 'bowler_id', 'bowler_details', 'runs', 'wicket_count',
       'balls_bowled', 'economy_per_match', 'match_dt', 'Strike_Rate',
       'Bowling_Strike_Rate', 'Average', 'Bowling_Average', 'Wickets',
       'Economy', '4W_Per_Innings', 'Total_Balls', 'Strike_Rate_Points',
       'Overall_Economy_Points', 'Avg_Points', 'Wicket_Points', 'Total_Points',
       'std_economy', 'exp_weighted_avg_eco', 'std_economy_norm',
       'exp_weighted_avg_eco_norm', 'final_score'],
      dtype='object')

In [49]:
bowler.rename(columns={'std_economy_norm': 'Consistency_Score', 'exp_weighted_avg_eco_norm': 'Recency_Score'}, inplace=True)

In [50]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy_per_match,match_dt,Strike_Rate,Bowling_Strike_Rate,...,Strike_Rate_Points,Overall_Economy_Points,Avg_Points,Wicket_Points,Total_Points,std_economy,exp_weighted_avg_eco,Consistency_Score,Recency_Score,final_score
21,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,35,2,18,11.67,2021-01-02,9.0,13.05,...,30,0,30,0,60,4.221258,11.670000,0.271353,0.324167,1.598268
11,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,22,1,24,5.50,2021-01-03,24.0,13.05,...,30,0,30,0,60,4.221258,9.613333,0.271353,0.267037,1.541139
10,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,34,0,25,8.16,2021-01-06,NaN,13.05,...,30,0,30,0,60,4.221258,9.128889,0.271353,0.253580,1.527682
25,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,34,1,18,11.33,2021-01-10,18.0,13.05,...,30,0,30,0,60,4.221258,9.862593,0.271353,0.273961,1.548063
30,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,20,0,12,10.00,2021-01-13,NaN,13.05,...,30,0,30,0,60,4.221258,9.908395,0.271353,0.275233,1.549335

In [51]:
bowler.columns

Index(['bowler', 'bowler_id', 'bowler_details', 'runs', 'wicket_count',
       'balls_bowled', 'economy_per_match', 'match_dt', 'Strike_Rate',
       'Bowling_Strike_Rate', 'Average', 'Bowling_Average', 'Wickets',
       'Economy', '4W_Per_Innings', 'Total_Balls', 'Strike_Rate_Points',
       'Overall_Economy_Points', 'Avg_Points', 'Wicket_Points', 'Total_Points',
       'std_economy', 'exp_weighted_avg_eco', 'Consistency_Score',
       'Recency_Score', 'final_score'],
      dtype='object')

In [52]:
# List of columns to keep
columns_to_keep = [
    'bowler',                   
    'bowler_id',  
    'bowler_details',
    'Bowling_Strike_Rate',
    'Bowling_Average',
    'Wickets',
    'Economy', 
    '4W_Per_Innings',
    'Total_Points',
    'Consistency_Score',
    'Recency_Score', 
    'final_score', 
    'Total_Balls',                       
]

# Keep only the specified columns and discard the rest
bowler = bowler[columns_to_keep]

In [53]:
bowler.head()

,bowler,bowler_id,bowler_details,Bowling_Strike_Rate,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Points,Consistency_Score,Recency_Score,final_score,Total_Balls
21,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,13.05,17.908333,27.0,9.49,0.0,60,0.271353,0.324167,1.598268,635
11,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,13.05,17.908333,27.0,9.49,0.0,60,0.271353,0.267037,1.541139,635
10,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,13.05,17.908333,27.0,9.49,0.0,60,0.271353,0.253580,1.527682,635
25,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,13.05,17.908333,27.0,9.49,0.0,60,0.271353,0.273961,1.548063,635
30,DT Cn,34061,AUS:Right-hand bat:Right-arm fast-medium:,13.05,17.908333,27.0,9.49,0.0,60,0.271353,0.275233,1.549335,635

In [54]:
bowler.drop_duplicates(subset='bowler_id',keep='first',inplace=True)

In [55]:
bowler.sort_values(by='Total_Points',ascending=False,inplace=True)

In [56]:
bowler.head()

,bowler,bowler_id,bowler_details,Bowling_Strike_Rate,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Points,Consistency_Score,Recency_Score,final_score,Total_Balls
12936,Ah An,5595302,IND:Right-hand bat:Slow left-arm orthodox:,12.888889,10.435185,21.0,5.636364,2.0,110,0.230585,0.118056,1.88747,240
18640,SJ Mi,8934764,USA:Right-hand bat:Right-arm offbreak:,6.000000,2.000000,1.0,2.000000,0.0,110,NaN,0.055556,NaN,6
16989,M Sh,8059015,IND:Right-hand bat:Slow left-arm orthodox:,6.000000,5.000000,4.0,5.000000,1.0,110,NaN,0.138889,NaN,24
2169,DB Ri Ta,1663920,IND:Right-hand bat:Legbreak googly:,6.000000,2.000000,1.0,2.000000,0.0,110,NaN,0.055556,NaN,6
12970,Ht Sh,5636658,IND:Right-hand bat:Right-arm offbreak:,3.000000,0.000000,1.0,0.000000,0.0,110,NaN,0.000000,NaN,3

In [57]:
ranked_bowler=bowler[bowler['Wickets']>10]

In [303]:
final_output='./NoWeights/Bowler-Rankings_Updated.xlsx'
ranked_bowler.to_excel(final_output, index=False)

In [198]:
path = './NoWeights/Bowler-Rankings.xlsx'
bowler.to_excel(path, index=False)

In [58]:
batsman.columns

Index(['batsman', 'batsman_id', 'batsman_details', 'is_batsman_keeper', 'runs',
       'balls_faced', 'wicket kind', 'strike_rate', 'match_dt',
       'Batting_Strike_Rate', 'Batting_Average', '100S', '50S', 'Runs',
       'Strike Rate Points', 'Avg Points', '100S Points', '50S Points',
       'Total_Points', 'std_strike_rate', 'exp_weighted_avg_sr',
       'Consistency_Score', 'Recency_Score', 'final_score'],
      dtype='object')

In [59]:
bowler.columns

Index(['bowler', 'bowler_id', 'bowler_details', 'Bowling_Strike_Rate',
       'Bowling_Average', 'Wickets', 'Economy', '4W_Per_Innings',
       'Total_Points', 'Consistency_Score', 'Recency_Score', 'final_score',
       'Total_Balls'],
      dtype='object')

In [60]:
batsman.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Strike Rate Points,Avg Points,100S Points,50S Points,Total_Points,std_strike_rate,exp_weighted_avg_sr,Consistency_Score,Recency_Score,final_score
1583,F du Ps,313809,SA:Right-hand bat:Legbreak:,0,37,26,caught,142.31,2021-02-26,114.388095,...,40,10,30,20,100,60.357104,142.31,0.222883,0.237183,2.014300
10217,SA Yv,3125562,IND:Right-hand bat:Right-arm medium:,0,7,9,caught,77.78,2021-01-11,136.978500,...,40,10,30,20,100,64.481831,77.78,0.238115,0.129633,1.891518
6396,Md Rn,2263736,PAK:Right-hand bat:None:,1,104,64,NaN,162.50,2021-02-11,115.673261,...,40,20,20,20,100,43.395586,162.50,0.160249,0.270833,2.110585
5982,JC Br,2162782,ENG:Right-hand bat:None:,1,28,24,lbw,116.67,2021-03-12,123.307835,...,40,10,30,20,100,58.786308,116.67,0.217083,0.194450,1.977367
21172,Sn Gl,7491224,IND:Right-hand bat:Right-arm offbreak:,0,15,13,bowled,115.38,2021-04-11,123.351250,...,40,10,30,20,100,48.981507,115.38,0.180876,0.192300,2.011424

In [61]:
bowler.head()

,bowler,bowler_id,bowler_details,Bowling_Strike_Rate,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Points,Consistency_Score,Recency_Score,final_score,Total_Balls
12936,Ah An,5595302,IND:Right-hand bat:Slow left-arm orthodox:,12.888889,10.435185,21.0,5.636364,2.0,110,0.230585,0.118056,1.88747,240
18640,SJ Mi,8934764,USA:Right-hand bat:Right-arm offbreak:,6.000000,2.000000,1.0,2.000000,0.0,110,NaN,0.055556,NaN,6
16989,M Sh,8059015,IND:Right-hand bat:Slow left-arm orthodox:,6.000000,5.000000,4.0,5.000000,1.0,110,NaN,0.138889,NaN,24
2169,DB Ri Ta,1663920,IND:Right-hand bat:Legbreak googly:,6.000000,2.000000,1.0,2.000000,0.0,110,NaN,0.055556,NaN,6
12970,Ht Sh,5636658,IND:Right-hand bat:Right-arm offbreak:,3.000000,0.000000,1.0,0.000000,0.0,110,NaN,0.000000,NaN,3

In [62]:
# Merge the dataframes
allrounders = pd.merge(batsman, bowler, left_on='batsman_id', right_on='bowler_id', suffixes=('_bat', '_bowl'))

In [63]:
allrounders

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Bowling_Strike_Rate,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Points_bowl,Consistency_Score_bowl,Recency_Score_bowl,final_score_bowl,Total_Balls
0,GJ Ml,2275195,AUS:Right-hand bat:Right-arm offbreak:,0,70,37,caught,189.19,2021-01-02,126.458211,...,13.293103,14.609195,36.0,8.365588,0.0,60,0.291524,0.180556,1.434486,882
1,AA Bt,2789646,IND:Right-hand bat:Right-arm offbreak:,0,24,24,caught,100.00,2021-01-11,166.772000,...,18.000000,31.000000,1.0,10.330000,0.0,30,NaN,0.286944,NaN,18
2,J Cs,2331475,WI:Right-hand bat:None:,0,47,24,bowled,195.83,2021-06-16,122.147442,...,6.000000,12.000000,1.0,12.000000,0.0,60,NaN,0.333333,NaN,6
3,An Ds,6694190,IND:Right-hand bat:Right-arm medium:,0,68,30,NaN,226.67,2022-10-22,226.670000,...,6.500000,13.000000,2.0,12.000000,0.0,60,NaN,0.333333,NaN,13
4,R Bm,7753710,GHA:Right-hand bat:Right-arm medium:,0,71,30,lbw,236.67,2022-09-16,236.670000,...,NaN,NaN,0.0,6.000000,0.0,30,NaN,0.166667,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300,Sf Hn,5752256,BAN:Right-hand bat:Right-arm offbreak:,0,1,8,caught,12.50,2021-11-19,45.132000,...,NaN,NaN,0.0,8.000000,0.0,0,0.181818,0.166667,0.984848,7
1301,B Mi,5789370,ZIM:Right-hand bat:Right-arm fast-medium:,0,0,1,bowled,0.00,2021-03-19,52.500000,...,15.615385,18.942308,43.0,7.386176,0.0,50,0.156550,0.263889,1.561884,753
1302,BM Tr,5984376,NZ:Right-hand bat:Right-arm medium-fast:,0,0,1,caught,0.00,2021-01-04,49.523333,...,15.569444,23.134259,34.0,9.390667,1.0,50,0.174619,0.243056,1.522982,623
1303,JC Te,6005838,ENG:Right-hand bat:Right-arm fast-medium:,0,1,2,bowled,50.00,2023-06-23,50.000000,...,13.458333,21.520833,12.0,10.132000,0.0,50,0.190059,0.268611,1.533097,166
1304,GS Sw,6005866,ENG:Right-hand bat:Right-arm medium-fast:,0,0,1,bowled,0.00,2021-06-20,50.250000,...,14.956522,21.202899,43.0,9.078276,0.0,50,0.204092,0.240833,1.491287,608

In [64]:
allrounders.columns

Index(['batsman', 'batsman_id', 'batsman_details', 'is_batsman_keeper', 'runs',
       'balls_faced', 'wicket kind', 'strike_rate', 'match_dt',
       'Batting_Strike_Rate', 'Batting_Average', '100S', '50S', 'Runs',
       'Strike Rate Points', 'Avg Points', '100S Points', '50S Points',
       'Total_Points_bat', 'std_strike_rate', 'exp_weighted_avg_sr',
       'Consistency_Score_bat', 'Recency_Score_bat', 'final_score_bat',
       'bowler', 'bowler_id', 'bowler_details', 'Bowling_Strike_Rate',
       'Bowling_Average', 'Wickets', 'Economy', '4W_Per_Innings',
       'Total_Points_bowl', 'Consistency_Score_bowl', 'Recency_Score_bowl',
       'final_score_bowl', 'Total_Balls'],
      dtype='object')

In [65]:
allrounders = allrounders[(allrounders['Runs'] > 10) & (allrounders['Wickets'] >= 1)]

In [66]:
allrounders

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Bowling_Strike_Rate,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Points_bowl,Consistency_Score_bowl,Recency_Score_bowl,final_score_bowl,Total_Balls
0,GJ Ml,2275195,AUS:Right-hand bat:Right-arm offbreak:,0,70,37,caught,189.19,2021-01-02,126.458211,...,13.293103,14.609195,36.0,8.365588,0.0,60,0.291524,0.180556,1.434486,882
1,AA Bt,2789646,IND:Right-hand bat:Right-arm offbreak:,0,24,24,caught,100.00,2021-01-11,166.772000,...,18.000000,31.000000,1.0,10.330000,0.0,30,NaN,0.286944,NaN,18
2,J Cs,2331475,WI:Right-hand bat:None:,0,47,24,bowled,195.83,2021-06-16,122.147442,...,6.000000,12.000000,1.0,12.000000,0.0,60,NaN,0.333333,NaN,6
3,An Ds,6694190,IND:Right-hand bat:Right-arm medium:,0,68,30,NaN,226.67,2022-10-22,226.670000,...,6.500000,13.000000,2.0,12.000000,0.0,60,NaN,0.333333,NaN,13
6,MR Mh,1907163,AUS:Right-hand bat:Right-arm medium:,0,7,2,NaN,350.00,2021-01-03,127.906182,...,14.076923,19.596154,21.0,8.779600,1.0,70,0.259420,0.166667,1.543611,352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,CS Ka,5490638,SL:Left-hand bat:Right-arm fast:,0,0,1,run out,0.00,2021-10-30,63.518889,...,12.877193,16.543860,36.0,9.189630,0.0,60,0.357474,0.071389,1.259369,537
1294,CF Pn,5528116,ENG:Right-hand bat:Slow left-arm orthodox:,0,14,7,NaN,200.00,2021-06-11,78.985652,...,18.200980,23.166667,52.0,7.688333,2.0,60,0.131538,0.291667,1.705583,948
1301,B Mi,5789370,ZIM:Right-hand bat:Right-arm fast-medium:,0,0,1,bowled,0.00,2021-03-19,52.500000,...,15.615385,18.942308,43.0,7.386176,0.0,50,0.156550,0.263889,1.561884,753
1302,BM Tr,5984376,NZ:Right-hand bat:Right-arm medium-fast:,0,0,1,caught,0.00,2021-01-04,49.523333,...,15.569444,23.134259,34.0,9.390667,1.0,50,0.174619,0.243056,1.522982,623
1304,GS Sw,6005866,ENG:Right-hand bat:Right-arm medium-fast:,0,0,1,bowled,0.00,2021-06-20,50.250000,...,14.956522,21.202899,43.0,9.078276,0.0,50,0.204092,0.240833,1.491287,608

In [67]:
# Calculate total points for all-rounders
allrounders['All_Rounder_Total_Points'] = (allrounders['Total_Points_bat'] + allrounders['Total_Points_bowl'])

C:\Users\Chetanya\AppData\Local\Temp\ipykernel_6612\1073700554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allrounders['All_Rounder_Total_Points'] = (allrounders['Total_Points_bat'] + allrounders['Total_Points_bowl'])

In [68]:
allrounders.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Bowling_Average,Wickets,Economy,4W_Per_Innings,Total_Points_bowl,Consistency_Score_bowl,Recency_Score_bowl,final_score_bowl,Total_Balls,All_Rounder_Total_Points
0,GJ Ml,2275195,AUS:Right-hand bat:Right-arm offbreak:,0,70,37,caught,189.19,2021-01-02,126.458211,...,14.609195,36.0,8.365588,0.0,60,0.291524,0.180556,1.434486,882,155
1,AA Bt,2789646,IND:Right-hand bat:Right-arm offbreak:,0,24,24,caught,100.00,2021-01-11,166.772000,...,31.000000,1.0,10.330000,0.0,30,NaN,0.286944,NaN,18,125
2,J Cs,2331475,WI:Right-hand bat:None:,0,47,24,bowled,195.83,2021-06-16,122.147442,...,12.000000,1.0,12.000000,0.0,60,NaN,0.333333,NaN,6,145
3,An Ds,6694190,IND:Right-hand bat:Right-arm medium:,0,68,30,NaN,226.67,2022-10-22,226.670000,...,13.000000,2.0,12.000000,0.0,60,NaN,0.333333,NaN,13,145
6,MR Mh,1907163,AUS:Right-hand bat:Right-arm medium:,0,7,2,NaN,350.00,2021-01-03,127.906182,...,19.596154,21.0,8.779600,1.0,70,0.259420,0.166667,1.543611,352,150

In [69]:
# Select relevant columns
columns_to_keep = ['batsman', 'batsman_id', 'batsman_details', 'is_batsman_keeper', 
                   'Runs', 'Batting_Strike_Rate', 'Batting_Average', '100S', '50S',
                   'Wickets', '4W_Per_Innings', 'Total_Points_bat', 'Total_Points_bowl', 
                   'All_Rounder_Total_Points']

allrounders = allrounders[columns_to_keep]

In [70]:
allrounders

,batsman,batsman_id,batsman_details,is_batsman_keeper,Runs,Batting_Strike_Rate,Batting_Average,100S,50S,Wickets,4W_Per_Innings,Total_Points_bat,Total_Points_bowl,All_Rounder_Total_Points
0,GJ Ml,2275195,AUS:Right-hand bat:Right-arm offbreak:,0,2480.0,126.458211,26.105263,3.0,17.0,36.0,0.0,95,60,155
1,AA Bt,2789646,IND:Right-hand bat:Right-arm offbreak:,0,283.0,166.772000,56.600000,1.0,2.0,1.0,0.0,95,30,125
2,J Cs,2331475,WI:Right-hand bat:None:,0,1287.0,122.147442,29.930233,2.0,7.0,1.0,0.0,85,60,145
3,An Ds,6694190,IND:Right-hand bat:Right-arm medium:,0,68.0,226.670000,68.000000,0.0,1.0,2.0,0.0,85,60,145
6,MR Mh,1907163,AUS:Right-hand bat:Right-arm medium:,0,1671.0,127.906182,30.381818,1.0,14.0,21.0,1.0,80,70,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,CS Ka,5490638,SL:Left-hand bat:Right-arm fast:,0,22.0,63.518889,2.444444,0.0,0.0,36.0,0.0,5,60,65
1294,CF Pn,5528116,ENG:Right-hand bat:Slow left-arm orthodox:,0,84.0,78.985652,3.652174,0.0,0.0,52.0,2.0,5,60,65
1301,B Mi,5789370,ZIM:Right-hand bat:Right-arm fast-medium:,0,15.0,52.500000,1.500000,0.0,0.0,43.0,0.0,5,50,55
1302,BM Tr,5984376,NZ:Right-hand bat:Right-arm medium-fast:,0,29.0,49.523333,4.833333,0.0,0.0,34.0,1.0,5,50,55
1304,GS Sw,6005866,ENG:Right-hand bat:Right-arm medium-fast:,0,12.0,50.250000,2.400000,0.0,0.0,43.0,0.0,5,50,55

In [71]:
allrounders.sort_values(by='All_Rounder_Total_Points',ascending=False,inplace=True)

C:\Users\Chetanya\AppData\Local\Temp\ipykernel_6612\3638074064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allrounders.sort_values(by='All_Rounder_Total_Points',ascending=False,inplace=True)

In [72]:
allrounders

,batsman,batsman_id,batsman_details,is_batsman_keeper,Runs,Batting_Strike_Rate,Batting_Average,100S,50S,Wickets,4W_Per_Innings,Total_Points_bat,Total_Points_bowl,All_Rounder_Total_Points
81,SJ Mi,8934764,USA:Right-hand bat:Right-arm offbreak:,0,88.0,160.096667,29.333333,0.0,1.0,1.0,0.0,60,110,170
27,Bl Sa,251509,IND:Left-hand bat:Slow left-arm orthodox:,0,42.0,190.910000,42.000000,0.0,0.0,5.0,0.0,70,100,170
15,PR Sg,2124002,IRE:Right-hand bat:Right-arm offbreak:,0,1683.0,122.781096,23.054795,1.0,10.0,3.0,0.0,75,90,165
55,BL Da,3298427,ENG:Right-hand bat:Legbreak:,0,762.0,111.541613,24.580645,0.0,5.0,23.0,1.0,65,100,165
65,MJ Sr,3519011,NZ:Left-hand bat:Slow left-arm orthodox:,0,802.0,104.809231,15.423077,0.0,5.0,76.0,2.0,65,100,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022,Kr Ai,4095580,OMA:Right-hand bat:Legbreak:,0,25.0,79.443333,8.333333,0.0,0.0,6.0,0.0,5,30,35
1013,Sp Sa,3068547,IND:Right-hand bat:Right-arm medium:,0,11.0,44.666000,2.200000,0.0,0.0,19.0,0.0,5,30,35
1167,U An Sl,7342250,SGP:Right-hand bat:Right-arm medium-fast:,0,37.0,50.000000,9.250000,0.0,0.0,2.0,0.0,5,20,25
1079,JL Pn,1907268,AUS:Left-hand bat:Right-arm fast-medium:,0,19.0,75.000000,4.750000,0.0,0.0,3.0,0.0,5,20,25
1024,F Do Ca,4099318,MOZ:Right-hand bat:Right-arm medium:,0,33.0,43.420000,16.500000,0.0,0.0,2.0,0.0,5,20,25

In [227]:
final_output = './NoWeights/all-rounder.xlsx'
allrounders.to_excel(final_output, index=False)

In [ ]:
batsman.columns

Index(['batsman', 'batsman_id', 'batsman_details', 'is_batsman_keeper', 'runs',
       'balls_faced', 'wicket kind', 'strike_rate', 'match_dt',
       'Batting_Strike_Rate', 'Batting_Average', '100S', '50S', 'Runs',
       'Strike Rate Points', 'Avg Points', '100S Points', '50S Points',
       'Total_Points'],
      dtype='object')

In [239]:
# Count the number of matches where each player was designated as wicketkeeper
wicket_keeper = batsman[batsman['is_batsman_keeper'] == 1]

In [240]:
wicket_keeper.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Strike Rate Points,Avg Points,100S Points,50S Points,Total_Points,std_strike_rate,exp_weighted_avg_sr,Consistency_Score,Recency_Score,final_score
6396,Md Rn,2263736,PAK:Right-hand bat:None:,1,104,64,NaN,162.50,2021-02-11,115.673261,...,40,20,20,20,100,43.395586,162.50,0.160249,0.270833,2.110585
5982,JC Br,2162782,ENG:Right-hand bat:None:,1,28,24,lbw,116.67,2021-03-12,123.307835,...,40,10,30,20,100,58.786308,116.67,0.217083,0.194450,1.977367
15552,JP Is,4635658,AUS:Right-hand bat:None:,1,72,41,NaN,175.61,2021-01-03,124.756984,...,40,5,30,20,95,59.485986,175.61,0.219667,0.292683,2.023017
9780,H Kn,3057312,SA:Right-hand bat:Right-arm offbreak:,1,12,10,caught,120.00,2021-02-11,136.642545,...,40,5,20,20,85,63.202397,120.00,0.233390,0.200000,1.816610
13454,JM Ce,4003390,ENG:Right-hand bat:None:,1,46,23,caught,200.00,2021-02-20,115.864487,...,40,5,20,20,85,66.815406,200.00,0.246732,0.333333,1.936601

In [241]:
# Sorting by 'Total_Points' (descending) and 'match_dt' (ascending) where 'batsman_id' is equal
wicket_keeper.sort_values(by='Total_Points',
                    ascending=False, inplace=True)

C:\Users\Chetanya\AppData\Local\Temp\ipykernel_4852\1923614472.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wicket_keeper.sort_values(by='Total_Points',

In [242]:
wicket_keeper.head()

,batsman,batsman_id,batsman_details,is_batsman_keeper,runs,balls_faced,wicket kind,strike_rate,match_dt,Batting_Strike_Rate,...,Strike Rate Points,Avg Points,100S Points,50S Points,Total_Points,std_strike_rate,exp_weighted_avg_sr,Consistency_Score,Recency_Score,final_score
6396,Md Rn,2263736,PAK:Right-hand bat:None:,1,104,64,NaN,162.50,2021-02-11,115.673261,...,40,20,20,20,100,43.395586,162.50,0.160249,0.270833,2.110585
5982,JC Br,2162782,ENG:Right-hand bat:None:,1,28,24,lbw,116.67,2021-03-12,123.307835,...,40,10,30,20,100,58.786308,116.67,0.217083,0.194450,1.977367
15552,JP Is,4635658,AUS:Right-hand bat:None:,1,72,41,NaN,175.61,2021-01-03,124.756984,...,40,5,30,20,95,59.485986,175.61,0.219667,0.292683,2.023017
9780,H Kn,3057312,SA:Right-hand bat:Right-arm offbreak:,1,12,10,caught,120.00,2021-02-11,136.642545,...,40,5,20,20,85,63.202397,120.00,0.233390,0.200000,1.816610
13454,JM Ce,4003390,ENG:Right-hand bat:None:,1,46,23,caught,200.00,2021-02-20,115.864487,...,40,5,20,20,85,66.815406,200.00,0.246732,0.333333,1.936601

In [243]:
final_output = './NoWeights/wicket_keeper.xlsx'
wicket_keeper.to_excel(final_output, index=False)

In [ ]:
batsman.columns

Index(['batsman', 'batsman_id', 'batsman_details', 'is_batsman_keeper', 'runs',
       'balls_faced', 'wicket kind', 'strike_rate', 'match_dt',
       'Batting_Strike_Rate', 'Batting_Average', '100S', '50S', 'Runs',
       'Strike Rate Points', 'Avg Points', '100S Points', '50S Points',
       'Total_Points'],
      dtype='object')

In [ ]:
bowler.columns

Index(['bowler', 'bowler_id', 'bowler_details', 'runs', 'wicket_count',
       'balls_bowled', 'economy_per_match', 'match_dt', 'Strike_Rate',
       'Bowling_Strike_Rate', 'Average', 'Bowling_Average', 'Wickets',
       'Economy', '4W_Per_Innings', 'Strike_Rate_Points',
       'Overall_Economy_Points', 'Avg_Points', 'Wicket_Points',
       'Total_Points'],
      dtype='object')

In [ ]:
allrounders.columns

Index(['batsman', 'batsman_id', 'batsman_details', 'is_batsman_keeper', 'Runs',
       'Batting_Strike_Rate', 'Batting_Average', '100S', '50S', 'Wickets',
       '4W_Per_Innings', 'Total_Points_bat', 'Total_Points_bowl',
       'All_Rounder_Total_Points'],
      dtype='object')

In [ ]:
wicket_keeper.columns

Index(['batsman', 'batsman_id', 'batsman_details', 'is_batsman_keeper', 'runs',
       'balls_faced', 'wicket kind', 'strike_rate', 'match_dt',
       'Batting_Strike_Rate', 'Batting_Average', '100S', '50S', 'Runs',
       'Strike Rate Points', 'Avg Points', '100S Points', '50S Points',
       'Total_Points'],
      dtype='object')

In [ ]:
# List of player IDs to search for
player_ids = [325814, 1626526, 1506098, 82228, 8250115, 4171460, 2275195, 5652758, 8986193, 8246573, 7758638]

# Filter data frames for the given player IDs
batsman_filtered = batsman[batsman['batsman_id'].isin(player_ids)]
bowler_filtered = bowler[bowler['bowler_id'].isin(player_ids)]
allrounders_filtered = allrounders[allrounders['batsman_id'].isin(player_ids)]
wicket_keeper_filtered = wicket_keeper[wicket_keeper['batsman_id'].isin(player_ids)]

# Extract and rename necessary columns
batsman_filtered = batsman_filtered[['batsman_id', 'Total_Points', 'Runs', 'Batting_Strike_Rate', 'Batting_Average', '100S', '50S']].rename(columns={
    'batsman_id': 'player_id',
    'Total_Points': 'total_points',
    'Runs': 'runs',
    'Batting_Strike_Rate': 'batting_strike_rate',
    'Batting_Average': 'batting_average',
    '100S': '100s',
    '50S': '50s'
})
#batsman_filtered['role'] = 'batsman'

bowler_filtered = bowler_filtered[['bowler_id', 'Total_Points', 'runs', 'Bowling_Strike_Rate', 'Bowling_Average', 'Wickets', 'Economy', '4W_Per_Innings']].rename(columns={
    'bowler_id': 'player_id',
    'Total_Points': 'total_points',
    'runs': 'runs',
    'Bowling_Strike_Rate': 'bowling_strike_rate',
    'Bowling_Average': 'bowling_average',
    'Wickets': 'wickets',
    'Economy': 'economy',
    '4W_Per_Innings': '4w_per_innings'
})
#bowler_filtered['role'] = 'bowler'

allrounders_filtered = allrounders_filtered[['batsman_id', 'All_Rounder_Total_Points', 'Runs', 'Batting_Strike_Rate', 'Batting_Average', '100S', '50S', 'Wickets', '4W_Per_Innings']].rename(columns={
    'batsman_id': 'player_id',
    'All_Rounder_Total_Points': 'total_points',
    'Runs': 'runs',
    'Batting_Strike_Rate': 'batting_strike_rate',
    'Batting_Average': 'batting_average',
    '100S': '100s',
    '50S': '50s',
    'Wickets': 'wickets',
    '4W_Per_Innings': '4w_per_innings'
})
#allrounders_filtered['role'] = 'allrounder'

wicket_keeper_filtered = wicket_keeper_filtered[['batsman_id', 'Total_Points', 'Runs', 'Batting_Strike_Rate', 'Batting_Average', '100S', '50S']].rename(columns={
    'batsman_id': 'player_id',
    'Total_Points': 'total_points',
    'Runs': 'runs',
    'Batting_Strike_Rate': 'batting_strike_rate',
    'Batting_Average': 'batting_average',
    '100S': '100s',
    '50S': '50s'
})
#wicket_keeper_filtered['role'] = 'wicket_keeper'

# Concatenate all filtered data frames
final_bowler = pd.concat([batsman_filtered, bowler_filtered, allrounders_filtered, wicket_keeper_filtered], ignore_index=True)

# Display the final data frame
print(final_bowler)

     player_id  total_points    runs  batting_strike_rate  batting_average  \
0      2275195            95  2480.0           126.458211        26.105263
1      2275195            95  2480.0           126.458211        26.105263
2      2275195            95  2480.0           126.458211        26.105263
3      2275195            95  2480.0           126.458211        26.105263
4      2275195            95  2480.0           126.458211        26.105263
..         ...           ...     ...                  ...              ...
556    8250115            70   700.0           100.807619        33.333333
557    8250115            70   700.0           100.807619        33.333333
558    8250115            70   700.0           100.807619        33.333333
559    8250115            70   700.0           100.807619        33.333333
560    8250115            70   700.0           100.807619        33.333333

     100s   50s  bowling_strike_rate  bowling_average  wickets  economy  \
0     3.0  17.0                  NaN              NaN      NaN      NaN
1     3.0  17.0                  NaN              NaN      NaN      NaN
2     3.0  17.0                  NaN              NaN      NaN      NaN
3     3.0  17.0                  NaN              NaN      NaN      NaN
4     3.0  17.0                  NaN              NaN      NaN      NaN
..    ...   ...                  ...              ...      ...      ...
556   0.0   6.0                  NaN              NaN      NaN      NaN
557   0.0   6.0                  NaN              NaN      NaN      NaN
558   0.0   6.0                  NaN              NaN      NaN      NaN
559   0.0   6.0                  NaN              NaN      NaN      NaN
560   0.0   6.0                  NaN              NaN      NaN      NaN

     4w_per_innings
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
..              ...
556             NaN
557             NaN
558             NaN
559             NaN
560             NaN

[561 rows x 12 columns]

In [ ]:
final_bowler.drop_duplicates(keep='first',inplace=True)

In [ ]:
final_bowler

,player_id,total_points,runs,batting_strike_rate,batting_average,100s,50s,bowling_strike_rate,bowling_average,wickets,economy,4w_per_innings
0,2275195,95,2480.0,126.458211,26.105263,3.0,17.0,NaN,NaN,NaN,NaN,NaN
95,325814,80,822.0,134.665926,30.444444,1.0,8.0,NaN,NaN,NaN,NaN,NaN
122,1626526,80,2737.0,127.727889,30.411111,1.0,18.0,NaN,NaN,NaN,NaN,NaN
212,1506098,70,677.0,108.984545,30.772727,1.0,4.0,NaN,NaN,NaN,NaN,NaN
234,8250115,70,700.0,100.807619,33.333333,0.0,6.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
535,325814,170,822.0,134.665926,30.444444,1.0,8.0,NaN,NaN,2.0,NaN,0.0
536,4171460,125,400.0,103.976667,14.814815,0.0,0.0,NaN,NaN,21.0,NaN,2.0
537,5652758,95,7.0,54.167500,1.750000,0.0,0.0,NaN,NaN,44.0,NaN,2.0
538,8986193,95,6.0,75.000000,6.000000,0.0,0.0,NaN,NaN,22.0,NaN,2.0
539,7758638,75,5.0,28.232857,0.714286,0.0,0.0,NaN,NaN,40.0,NaN,0.0

In [ ]:
final_output = './Files/next11.xlsx'
final_bowler.to_excel(final_output, index=False)

In [ ]:
final_bowler.head()

,player_id,total_points,runs,batting_strike_rate,batting_average,100s,50s,bowling_strike_rate,bowling_average,wickets,economy,4w_per_innings
0,2275195,95,2480.0,126.458211,26.105263,3.0,17.0,NaN,NaN,NaN,NaN,NaN
95,325814,80,822.0,134.665926,30.444444,1.0,8.0,NaN,NaN,NaN,NaN,NaN
122,1626526,80,2737.0,127.727889,30.411111,1.0,18.0,NaN,NaN,NaN,NaN,NaN
212,1506098,70,677.0,108.984545,30.772727,1.0,4.0,NaN,NaN,NaN,NaN,NaN
234,8250115,70,700.0,100.807619,33.333333,0.0,6.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Convert 'match_dt' to datetime
bowler['match_dt'] = pd.to_datetime(bowler['match_dt'])

# Replace np.inf with a high value
for metric in ['Economy', 'Bowling_Strike_Rate', 'Bowling_Average']:
    finite_values = bowler[metric].replace(np.inf, np.nan)
    high_value = finite_values.max() * 10  # Use a high finite value
    bowler[metric].replace(np.inf, high_value, inplace=True)

# Normalize the metrics
metrics = ['Economy', 'Bowling_Strike_Rate', 'Bowling_Average', 'Wickets']
bowler_normalized = bowler[metrics].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

# Calculate Cumulative Score
weights = {'Economy': 0.25, 'Bowling_Strike_Rate': 0.25, 'Bowling_Average': 0.25, 'Wickets': 0.25}
bowler['Cumulative_Score'] = sum(weights[metric] * bowler_normalized[metric] for metric in metrics)

# Measure Consistency (Standard Deviation)
bowler['Consistency_Score'] = 1 / (1 + bowler_normalized.std(axis=1))

# Incorporate Recency
current_time = pd.Timestamp('now')
lambda_decay = 0.01
bowler['Recency_Score'] = bowler.apply(
    lambda row: np.exp(-lambda_decay * (current_time - row['match_dt']).days), axis=1
)
bowler['Recency_Score'] = bowler['Recency_Score'] / bowler['Recency_Score'].sum()

# Volume-based adjustment
min_balls_threshold = 30
bowler['Volume_Adjustment'] = bowler['balls_bowled'] / bowler['balls_bowled'].max()
bowler['Volume_Adjustment'] = bowler['Volume_Adjustment'].apply(lambda x: x if x > (min_balls_threshold / bowler['balls_bowled'].max()) else 0.1)

# Adjust final score with volume-based penalty
final_weights = {'Cumulative_Score': 0.5, 'Consistency_Score': 0.25, 'Recency_Score': 0.25}
bowler['Final_Score'] = (
    final_weights['Cumulative_Score'] * bowler['Cumulative_Score'] +
    final_weights['Consistency_Score'] * bowler['Consistency_Score'] +
    final_weights['Recency_Score'] * bowler['Recency_Score']
) * bowler['Volume_Adjustment']

# Rank the bowlers
bowler['Rank'] = bowler['Final_Score'].rank(ascending=False)

In [ ]:
bowler.head()

,bowler,bowler_id,bowler_details,runs,wicket_count,balls_bowled,economy_per_match,match_dt,Strike_Rate,Bowling_Strike_Rate,...,Overall_Economy_Points,Avg_Points,Wicket_Points,Total_Points,Cumulative_Score,Consistency_Score,Recency_Score,Final_Score,Rank,Volume_Adjustment
12970,Ht Sh,5636658,IND:Right-hand bat:Right-arm offbreak:,0,1,3,0.0,2021-01-19,3.0,3.0,...,50,30,30,140,0.023168,0.959130,1.958423e-08,0.025137,18445.0,0.1
14635,KA Ba,6710850,SL:Right-hand bat:Legbreak:,2,0,6,2.0,2021-03-03,NaN,1.0,...,40,30,30,130,0.031984,0.943201,3.010600e-08,0.025179,18444.0,0.1
14636,KA Ba,6710850,SL:Right-hand bat:Legbreak:,0,1,1,0.0,2021-12-13,1.0,1.0,...,40,30,30,130,0.031984,0.943201,5.204660e-07,0.025179,18443.0,0.1
14637,KA Ba,6710850,SL:Right-hand bat:Legbreak:,18,0,12,9.0,2022-12-18,NaN,1.0,...,40,30,30,130,0.031984,0.943201,2.105145e-05,0.025180,18442.0,0.1
2169,DB Ri Ta,1663920,IND:Right-hand bat:Legbreak googly:,2,1,6,2.0,2021-11-09,6.0,6.0,...,50,30,30,140,0.081215,0.913965,3.704522e-07,0.026910,18441.0,0.1

In [ ]:
bowler.sort_values(by='Rank',ascending=False,inplace=True)

In [ ]:
final_output = './Files/bowler_ranking.xlsx'
bowler.to_excel(final_output, index=False)