In [25]:
import numpy as np
import pandas as pd

In [26]:
bowler_df=pd.read_excel('bowler_round1.xlsx')

In [27]:
bowler_df.head()

,match id,bowler,bowler_id,bowler_dob,bowler_details,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,match_dt,ingestion_timestamp
0,8587837,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,2,35.0,2,18,11.67,0,4.0,3,1,2.0,0,2021-01-02,2022-03-21 03:44:58
1,8587907,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,22.0,1,24,5.50,0,7.0,0,0,1.0,0,2021-01-03,2022-03-21 03:44:58
2,8587816,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,34.0,0,25,8.16,0,7.0,4,0,1.0,0,2021-01-06,2022-03-21 03:44:58
3,8587998,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,34.0,1,18,11.33,0,8.0,4,2,1.0,0,2021-01-10,2022-03-21 03:44:58
4,8588040,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,20.0,0,12,10.00,0,4.0,1,1,1.0,0,2021-01-13,2022-03-21 03:44:58

In [28]:
# Function to remove duplicates
def remove_duplicates(df):
    return df.drop_duplicates(keep='last')

# Apply the function to each dataframe
bowler_df = remove_duplicates(bowler_df)

# Check if duplicates are removed
print(bowler_df.duplicated().sum())

0

In [29]:
bowler_df.isnull().sum()

match id                0
bowler                  0
bowler_id               0
bowler_dob              0
bowler_details          0
is_bowler_captain       0
is_bowler_keeper        0
inning                  0
runs                   50
wicket_count            0
balls_bowled            0
economy                50
maiden                  0
dots                    2
Fours                   0
Sixes                   0
wides                  35
noballs                 0
match_dt                0
ingestion_timestamp     0
dtype: int64

In [30]:
def calculate_economy(row):
    if pd.isna(row['economy']) and row['balls_bowled'] != 0 and not pd.isna(row['balls_bowled']):
        return (row['runs'] * 6) / row['balls_bowled']
    return row['economy']

# Function to calculate runs
def calculate_runs(row):
    if pd.isna(row['runs']) and row['balls_bowled'] != 0 and not pd.isna(row['balls_bowled']):
        return (row['economy'] * row['balls_bowled']) / 6
    return row['runs']

# Apply the function to calculate economy rate where the value is null
bowler_df['economy'] = bowler_df.apply(calculate_economy, axis=1)

# Apply the function to calculate runs where the value is null
bowler_df['runs'] = bowler_df.apply(calculate_runs, axis=1)

In [31]:
bowler_df.isnull().sum()

match id                0
bowler                  0
bowler_id               0
bowler_dob              0
bowler_details          0
is_bowler_captain       0
is_bowler_keeper        0
inning                  0
runs                    0
wicket_count            0
balls_bowled            0
economy                 0
maiden                  0
dots                    2
Fours                   0
Sixes                   0
wides                  35
noballs                 0
match_dt                0
ingestion_timestamp     0
dtype: int64

In [32]:
bowler_df['dots'].fillna(0, inplace=True)

In [33]:
bowler_df['wides'].fillna(0, inplace=True)

In [34]:
column_names = bowler_df.columns

# Get the data types of all columns
column_dtypes = bowler_df.dtypes

# Combine column names and data types into a DataFrame
column_info = pd.DataFrame({'Data Type': column_dtypes})

print(column_info)

                          Data Type
match id                      int64
bowler                       object
bowler_id                     int64
bowler_dob                   object
bowler_details               object
is_bowler_captain             int64
is_bowler_keeper              int64
inning                        int64
runs                        float64
wicket_count                  int64
balls_bowled                  int64
economy                     float64
maiden                        int64
dots                        float64
Fours                         int64
Sixes                         int64
wides                       float64
noballs                       int64
match_dt                     object
ingestion_timestamp  datetime64[ns]

In [35]:
bowler_df['match id'] = bowler_df['match id'].astype('int64')
bowler_df['bowler'] = bowler_df['bowler'].astype('string')
bowler_df['bowler_id'] = bowler_df['bowler_id'].astype('int64')
bowler_df['bowler_details'] = bowler_df['bowler_details'].astype('string')
bowler_df['inning'] = bowler_df['inning'].astype('int64')
bowler_df['runs'] = bowler_df['runs'].astype('int64')
bowler_df['wicket_count'] = bowler_df['wicket_count'].astype('int64')
bowler_df['balls_bowled'] = bowler_df['balls_bowled'].astype('int64')
bowler_df['economy'] = bowler_df['economy'].astype('float64')
bowler_df['maiden'] = bowler_df['maiden'].astype('int64')
bowler_df['dots'] = bowler_df['dots'].astype('int64')
bowler_df['Fours'] = bowler_df['Fours'].astype('int64')
bowler_df['Sixes'] = bowler_df['Sixes'].astype('int64')
bowler_df['wides'] = bowler_df['wides'].astype('int64')
bowler_df['noballs'] = bowler_df['noballs'].astype('int64')

In [36]:
bowler_df = bowler_df[(bowler_df['match id'] >= 8000000) & (bowler_df['match id'] <= 10000000)]
bowler_df = bowler_df[(bowler_df['bowler_id'] >= 36000) & (bowler_df['bowler_id'] <= 10000000)]
bowler_df = bowler_df[(bowler_df['is_bowler_captain'] == 0) | (bowler_df['is_bowler_captain'] == 1)]
bowler_df = bowler_df[(bowler_df['is_bowler_keeper'] == 0) | (bowler_df['is_bowler_keeper'] == 1)]
bowler_df = bowler_df[(bowler_df['inning'] == 1) | (bowler_df['inning'] == 2)]
bowler_df = bowler_df[(bowler_df['runs'] >= 0) & (bowler_df['runs'] <= 200)]
bowler_df = bowler_df[(bowler_df['wicket_count'] >= 0) & (bowler_df['wicket_count'] <= 10)]
bowler_df = bowler_df[(bowler_df['balls_bowled'] >= 0) & (bowler_df['balls_bowled'] <= 30)]
bowler_df = bowler_df[(bowler_df['economy'] >= 0) & (bowler_df['economy'] <= 36)]
bowler_df = bowler_df[(bowler_df['maiden'] >= 0) & (bowler_df['maiden'] <= 5)]
bowler_df = bowler_df[(bowler_df['dots'] >= 0) & (bowler_df['dots'] <= 22)]

In [37]:
bowler_df.head()

,match id,bowler,bowler_id,bowler_dob,bowler_details,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,match_dt,ingestion_timestamp
46,8778510,MC Hs,41740,1987-02-01,AUS:Right-hand bat:Right-arm fast-medium:,0,0,2,7,0,6,7.0,0,4,0,1,0,0,2021-04-21,2022-03-21 03:44:58
47,8778531,MC Hs,41740,1987-02-01,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,12,0,18,4.0,0,9,1,0,0,0,2021-04-23,2022-03-21 03:44:58
48,8778559,MC Hs,41740,1987-02-01,AUS:Right-hand bat:Right-arm fast-medium:,0,0,2,5,1,6,5.0,0,4,1,0,0,0,2021-04-26,2022-03-21 03:44:58
49,8895872,MC Hs,41740,1987-02-01,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,5,0,6,5.0,0,2,0,0,0,0,2021-08-07,2022-03-21 03:44:58
50,8778643,MC Hs,41740,1987-02-01,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,12,3,24,3.0,0,13,0,0,0,0,2021-10-03,2022-03-21 03:44:58

In [38]:
bowler_df['bowler_dob'] = pd.to_datetime(bowler_df['bowler_dob'], errors='coerce').dt.strftime('%m/%d/%Y')
bowler_df['match_dt'] = pd.to_datetime(bowler_df['match_dt'], errors='coerce').dt.strftime('%m/%d/%Y')

In [39]:

# Replace NaT values with '00-00-0000'
bowler_df['bowler_dob'] = bowler_df['bowler_dob'].fillna('00-00-0000')
bowler_df.loc[bowler_df['bowler_dob'] != '00-00-0000', 'bowler_dob'] = bowler_df['bowler_dob']

In [40]:
bowler_df.isnull().sum()

match id               0
bowler                 0
bowler_id              0
bowler_dob             0
bowler_details         0
is_bowler_captain      0
is_bowler_keeper       0
inning                 0
runs                   0
wicket_count           0
balls_bowled           0
economy                0
maiden                 0
dots                   0
Fours                  0
Sixes                  0
wides                  0
noballs                0
match_dt               0
ingestion_timestamp    0
dtype: int64

In [41]:
numerical_cols = bowler_df.select_dtypes(include=['int64', 'float64']).columns

In [42]:
numerical_cols

Index(['match id', 'bowler_id', 'is_bowler_captain', 'is_bowler_keeper',
       'inning', 'runs', 'wicket_count', 'balls_bowled', 'economy', 'maiden',
       'dots', 'Fours', 'Sixes', 'wides', 'noballs'],
      dtype='object')

In [43]:
# Columns to remove
cols_to_remove = ['match id', 'bowler_id', 'is_batsman_captain', 'is_batsman_keeper', 'inning', 'is_bowler_keeper']

numerical_cols = list(numerical_cols)

# Remove columns from the list
for col in cols_to_remove:
    if col in numerical_cols:
        numerical_cols.remove(col)

In [44]:
numerical_cols

['is_bowler_captain',
 'runs',
 'wicket_count',
 'balls_bowled',
 'economy',
 'maiden',
 'dots',
 'Fours',
 'Sixes',
 'wides',
 'noballs']

In [45]:
for col in numerical_cols:
    Q1 = bowler_df[col].quantile(0.25)
    Q3 = bowler_df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = bowler_df[(bowler_df[col] < lower_bound) | (bowler_df[col] > upper_bound)][col]
    print(f"Outliers in column '{col}': {outliers.values}")

Outliers in column 'is_bowler_captain': [1 1 1 ... 1 1 1]
Outliers in column 'runs': [67 61 55 61 56 56 57 55 57 66 63 62 56 64 57 56 59 60 56 57 55 59 65 60
 57 67 55 55 55 56 56 62 55 55 55 56 58 55 55 57 56 58 56 55 56 56 60 57
 59 62 61 63 57 59 58 82 55 62 64 57 55 62 55 56 56 68 58 58 56 55 56 55
 55 61 60 63 55 56 55 56 57 55 55 56 59 62 56 56 57 62 70 56 66 56 63 68
 57 55 56 56 59 64 57 57 57 56 62 74 57 56 56 57 64 62 66 55 62 59 57 55
 69 55 56 58 56 56 57 57]
Outliers in column 'wicket_count': [6 6 6 6]
Outliers in column 'balls_bowled': []
Outliers in column 'economy': [20.   20.   18.   26.   19.   19.   16.8  21.5  24.   21.   20.   17.
 24.   17.   21.   16.75 21.   20.33 19.   18.   17.4  17.   21.   20.4
 19.   24.   20.   20.   18.   18.   19.5  16.5  21.   17.   16.5  17.
 22.   18.   24.   17.6  16.5  21.   21.   19.   16.2  19.   17.   19.
 18.   20.   18.   16.12 16.5  16.33 18.   21.   17.   16.5  30.   17.
 18.   16.8  18.   18.   17.   26.   19.   17.   18.   25.   36.   17.
 23.   20.   20.   19.   30.   24.   18.   16.33 26.   26.4  17.4  18.
 19.   18.   18.   21.   17.   20.5  20.   16.25 18.   20.4  36.   20.
 17.   24.   16.2  20.   19.   16.5  17.5  17.2  16.75 16.67 16.8  16.5
 16.5  20.   17.   23.   17.67 18.67 17.   18.   18.   19.   18.   16.33
 19.2  19.   20.   18.   21.   16.5  24.   20.   23.   19.   18.   18.
 18.   17.67 29.   21.   17.5  19.   21.   23.4  19.   28.   18.   17.33
 18.   16.8  17.6  17.4  27.   18.8  24.   19.   21.   22.   30.   22.
 19.   29.   19.   18.5  18.   20.   22.   16.8  18.   16.33 20.   24.
 30.   18.   16.5  17.   18.   18.   17.33 20.   17.   19.   21.   17.
 22.   17.   20.5  17.67 18.   16.88 21.   17.   19.   19.   18.   17.
 18.   19.2  17.   24.   19.2  20.   26.   20.   19.   16.5  16.5  20.67
 18.   17.5  22.   19.   21.   19.   19.   17.67 21.   19.   19.29 16.33
 17.   24.   16.2  18.   20.   19.33 16.8  21.6  17.   23.   30.   17.43
 21.   17.   18.   17.   17.   20.   25.   17.   17.33 26.   18.   24.
 20.4  19.   16.8  19.2  19.   18.   22.   27.   18.   19.   20.   18.
 30.   18.   17.   20.   17.33 24.   18.5  19.   18.   16.67 16.67 17.
 16.67 17.   21.   17.   18.   19.   17.   16.67 17.5  19.8  21.   16.5
 31.2  20.   16.5  18.   16.11 17.   23.   19.   17.   18.   19.   18.
 18.   18.   18.   19.5  16.5  16.91 18.5  17.   16.5  19.2  20.   17.
 22.   17.   21.   18.   22.   20.   20.   24.   18.   18.   16.5  19.5
 21.   24.   22.   20.   25.   22.   21.   19.   16.5  17.   17.5  18.86
 17.   18.5  17.4  18.   19.   17.   18.   25.   17.   22.   17.   18.92
 17.   18.   20.5  16.5  17.   18.5  17.22 18.33 23.   17.33 19.   21.
 18.   21.6  17.   19.   17.5  25.   17.25 24.   18.   18.   25.   20.
 21.   18.   20.   20.   17.   18.   17.   20.   26.   17.   18.   18.
 36.   17.   17.   21.33 17.   17.   18.   23.   18.   16.5  18.   18.
 17.   17.   17.   16.15 16.8  19.   21.   22.   19.   17.   17.14 20.
 18.   18.86 17.   20.   20.   19.   30.   17.  ]
Outliers in column 'maiden': [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 2
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 2 1 1 1 1 1 1 1 2
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1
 1 1 1 1 1 1 1]
Outliers in column 'dots': [20 22 20 21 20 20 20 22 21 20]
Outliers in column 'Fours': [ 7  7  7  9 10  7  8  9  7  7  8  7  7  7  7  7  7  7  7  7  7  7  7  7
  7  7  8  7  7  7  9  8  7  8  7  7 10  7  8  7  7  7  8  8  8  8  7  8
  7  7  8  8  8  7  7  7  7  7  7  7  7  7  7  7  9  7  7  7  7  7  7  7
  7  9  7  8  7 11  7  7  7  8  7  8  7  7  7  8  7  8  7  7  7  7  7  8
  8  7  8  7  7  7  7  7  9  7  7  7  7  7  7  7  7  7  8  8  7  7  7  7
  7  7  8  8  7  7  7  7  7  7  7  7  8  8  7  7  8 10  7  7  7  7  7  7
  7  7  7  7  7  7  9  7  7  8  8  7  8  7  7  7 10  7  9  7  8  9  8  7
  7  7  7  7  7  7 10  7  8  9  7  7  7  7 10  7  7 10  8  7  9  7  7  8
  7  7  7  7  7  7  7  7  7  8  7  8  7  9  9  7  8  7  7  7  7  7  7  7
  7  7  7  8  7  7  7  7  7]
Outliers in column 'Sixes': [3 3 3 ... 3 4 4]
Outliers in column 'wides': [3 3 3 3 3 4 5 4 3 3 3 3 5 3 4 3 3 5 3 3 3 3 3 4 3 3 4 5 3 4 3 3 3 4 3 3 5
 3 3 3 7 7 3 3 3 3 5 3 3 3 4 3 3 3 3 3 3 4 3 3 3 4 4 4 4 3 4 3 5 3 4 3 3 3
 3 3 3 3 3 4 3 3 4 3 3 3 3 3 3 3 4 4 3 5 3 3 3 3 3 3 3 3 3 3 5 4 3 3 4 7 3
 4 6 3 4 4 3 3 5 4 4 3 3 3 5 3 3 4 3 3 3 5 3 5 4 3 3 3 4 4 3 3 4 3 4 5 4 3
 3 3 3 3 3 4 3 4 4 3 5 3 3 4 4 3 3 3 8 6 3 3 3 3 3 4 3 3 3 3 4 4 4 3 3 4 3
 3 3 3 3 4 4 3 3 3 3 3 4 3 3 3 3 3 3 3 3 3 3 3 3 4 3 3 3 5 3 3 3 3 4 3 3 3
 3 3 3 3 3 4 3 3 3 3 4 4 3 3 3 3 3 5 4 3 3 3 4 3 3 3 3 4 4 4 3 3 3 3 3 4 3
 3 5 3 3 3 3 3 4 3 5 4 4 4 3 6 3 3 5 3 3 3 3 7 5 3 3 3 4 3 3 4 3 4 3 3 4 3
 3 3 3 3 5 4 3 3 3 5 3 4 3 3 3 3 3 5 5 4 6 3 4 4 3 3 3 3 3 3 3 3 3 6 4 3 7
 5 4 3 3 4 4 4 5 3 3 3 3 3 3 3 3 4 3 4 3 4 3 3 3 3 4 3 3 3 3 4 4 3 5 4 6 3
 3 4 3 3 4 4 3 4 3 3 4 4 3 3 3 3 5 4 3 4 3 3 4 3 3 3 3 3 3 3 4 3 3 4 3 4 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 4 3 3 4 4 3 3 3 3 4 5 4 3 7 4 3 5 3
 4 3 3 3 3 3 5 3 3 3 3 7 3 3 3 4 3 3 3 3 4 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 4 3 3 3 3 3 3 3 3 3 3 3 3 3 4 3 3 3 3 3 3 4 3 3 3 3 3 3 3 3 3 4 5 4 3 3 5
 3 3 3 3 4 3 4 3 4 3 3 3 4 4 3 3 3 3 3 3 3 3 3 3 3 3 4 3 3 3 3 3 3 3 3 4 3
 3 4 3 3 5 3 5 3 3 3 4 4 4 4 4 4 4 3 5 6 3 3 3 3 3 3 6 3 3 3 5 3 3 6 3 3 3
 4 3 4 3 4 5 3 4 3 4 4 4 3 3 3 3 3 3 6 3 3 3 4 3 3 6 3 3 3 4 3 7 3 3 3 3 4
 4 3 5 3 3 3 3 4 3 3 7 4 4 5 5 3 4 3 4 3 4 3 4 4 3 4 6 5 5 3 3 3 4 7 6 6 3
 3 4 3 3 6 4 3 4 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 4 4 3 3 3 3 3 5 3 4 3 5
 3 3 3 3 4 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 4 3 3 4 3
 4 3 3 3 4 3 3 3 3 3 3 5 4 4 3 3 3 3 3 3 3 5 3 3 4 3 3 5 3 5 3 4 3 3 4 3 4
 4 3 4 3 4 6 3 3 3 3 4 3 3 3 4 3 4 4 3 3 3 3 4 4 3 6 3 3 4 3 3 5 3 3 3 4 3
 3 5 6 4 3 5 3 3 3 3 3 4 5 3 3 3 3 5 3 3 3 3 3 3 4 4 3 3 3 3 3 3 3 3 3 3 3
 3 3 5 3 3 3 3 3 4 5 5 6 5 4 3 3 3 3 3 3 3 4 3 5 7 3 4 4 4 4 3 7 3 3 3 3 6
 3 3 3 4 3 3 4 4 3 3 3 3 5 3 3 4 4 3 3 3 3 3 3 3 4 4 3 4 4 3 3 3 3 3 5 5 4
 4 3 4 4 4 3 3 5 3 4]
Outliers in column 'noballs': [-76 -39   1 ...   1   1   1]

In [46]:
for col in numerical_cols:
    Q1 = bowler_df[col].quantile(0.25)
    Q3 = bowler_df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    non_outliers = bowler_df[(bowler_df[col] >= lower_bound) & (bowler_df[col] <= upper_bound)][col]
    mean_value = int(np.round(non_outliers.mean()))  # Round off the mean value
    bowler_df.loc[bowler_df[col] < lower_bound, col] = mean_value
    bowler_df.loc[bowler_df[col] > upper_bound, col] = mean_value

In [47]:
final_output = 'bowler.xlsx'
bowler_df.to_excel(final_output, index=False)

In [48]:
all_columns = bowler_df.columns

# Print the column names
print(all_columns)

Index(['match id', 'bowler', 'bowler_id', 'bowler_dob', 'bowler_details',
       'is_bowler_captain', 'is_bowler_keeper', 'inning', 'runs',
       'wicket_count', 'balls_bowled', 'economy', 'maiden', 'dots', 'Fours',
       'Sixes', 'wides', 'noballs', 'match_dt', 'ingestion_timestamp'],
      dtype='object')