In [54]:
import numpy as np
import pandas as pd

In [55]:
batsman_df=pd.read_excel('6655876402143_batsman_round1 (1).xlsx')
bowler_df=pd.read_excel('6655876ef0ec2_bowler_round1.xlsx')
matches_df=pd.read_excel('6655877834f04_matchlevel_round1.xlsx')

In [56]:
batsman_df.head()

,match id,batsman,batsman_id,batsman_dob,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,...,bowler_id,bowler_dob,bowler_details,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,match_dt,ingestion_timestamp
0,8638034,DG Be,31464,1984-07-30,NZ:Right-hand bat:Right-arm medium:,0,0,1,8.0,11,...,2486896.0,1990-09-17,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,72.73,1,NaN,2021-01-01,2022-03-22 12:43:21
1,8638041,DG Be,31464,1984-07-30,NZ:Right-hand bat:Right-arm medium:,0,0,1,2.0,4,...,4195827.0,1993-04-13,NZ:Right-hand bat:Right-arm medium:,0.0,0.0,50.00,NaN,NaN,2021-01-02,2022-03-22 12:43:21
2,8638055,DG Be,31464,1984-07-30,NZ:Right-hand bat:Right-arm medium:,0,0,2,0.0,3,...,8447396.0,1994-12-14,NZ:Left-hand bat:Slow left-arm orthodox:,0.0,0.0,0.00,NaN,NaN,2021-01-04,2022-03-22 12:43:21
3,8587802,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,2,0.0,1,...,6722540.0,2000-08-02,NEP:Right-hand bat:Legbreak googly:,0.0,0.0,0.00,NaN,NaN,2021-01-24,2022-03-22 12:43:21
4,8587802,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,2,0.0,1,...,6722540.0,2000-08-02,NEP:Right-hand bat:Legbreak googly:,0.0,0.0,0.00,NaN,NaN,2021-01-24,2022-03-13 18:43:20

In [57]:
bowler_df.head()

,match id,bowler,bowler_id,bowler_dob,bowler_details,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,match_dt,ingestion_timestamp
0,8587837,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,2,35.0,2,18,11.67,0,4,3,1,2,0,2021-01-02,2022-03-21 03:44:58
1,8587907,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,22.0,1,24,5.50,0,7,0,0,1,0,2021-01-03,2022-03-21 03:44:58
2,8587816,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,34.0,0,25,8.16,0,7,4,0,1,0,2021-01-06,2022-03-21 03:44:58
3,8587998,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,34.0,1,18,11.33,0,8,4,2,1,0,2021-01-10,2022-03-21 03:44:58
4,8588040,DT Cn,34061,1983-05-04,AUS:Right-hand bat:Right-arm fast-medium:,0,0,1,20.0,0,12,10.00,0,4,1,1,1,0,2021-01-13,2022-03-21 03:44:58

In [58]:
matches_df.head()

,match id,team1,team2,outcome,winner,by,win amount,player of match,toss winner,toss decision,...,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_names,team1_roster_ids,team2_id,team2_roster_names,team2_roster_ids,ingestion_timestamp
0,8587795,Ae Ss,Me Rs,normal,Me Rs,wickets,6,Md Ni,Ae Ss,bat,...,178,4,120,33914.0,MT Rw:PD St:AT Cy:J Wd:RJ Gn:JW Ws:Rd Kn:DR Bs...,5056134.0:4685568.0:2285051.0:5469008.0:577649...,33942.0,MW Hy:AJ Fh:SB Hr:Md Ni:JA Pe:J Fk:BJ Wr:Id Wm...,7534687.0:37351.0:5406540.0:181404.0:6842170.0...,2022-02-18 03:12:45
1,8587802,Ht Hs,Sy Ss,normal,Ht Hs,runs,7,MS We,Sy Ss,field,...,181,8,120,33928.0,MS We:DM St:BR Mt:DJ Mn:WG Js:TH Dd:NT Es:NP W...,1611364.0:2161599.0:4223883.0:1655436.0:628285...,33956.0,JR Pe:JM Ve:DP Hs:MC Hs:JC Sk:DT Cn:CR Be:SA A...,7869987.0:2076192.0:4002340.0:41740.0:3063696....,2022-02-18 03:12:45
2,8587816,Ph Ss,Sy Ss,normal,Ph Ss,NaN,86,MR Mh,Sy Ss,field,...,97,10,100,33935.0,JJ Ry:LS Le:C Mo:JP Is:MR Mh:AJ Tr:AM He:JA Rn...,2089079.0:2827327.0:1626526.0:4635658.0:190716...,33956.0,JR Pe:J Es:JM Ve:DP Hs:JC Sk:DT Cn:CR Be:SJ Oe...,7869987.0:7620283.0:2076192.0:4002340.0:306369...,2022-02-18 03:12:45
3,8587837,Sy Ss,Be Ht,normal,Be Ht,wickets,4,MT Se,Sy Ss,bat,...,171,6,119,33956.0,JR Pe:J Es:JM Ve:DP Hs:JC Sk:DT Cn:CR Be:BJ Ds...,7869987.0:7620283.0:2076192.0:4002340.0:306369...,33921.0,M Bt:JA Bs:JL Dy:SD Ht:JJ Pn:L Gy:JJ By:JD Wh:...,7620269.0:2286437.0:87191.0:5786766.0:3114803....,2022-02-18 03:12:45
4,8587844,Ae Ss,Me Rs,normal,Ae Ss,runs,60,RJ Gn,Ae Ss,bat,...,111,Ten,116,33914.0,MT Rw:PD St:AT Cy:JW Ws:RJ Gn:J Wd:Rd Kn:DR Bs...,5056134.0:4685568.0:2285051.0:1635773.0:577649...,33942.0,AJ Fh:MW Hy:SB Hr:Md Ni:BJ Wr:Id Wm:J Fk:JA Pe...,37351.0:7534687.0:5406540.0:181404.0:2669316.0...,2022-02-18 03:12:45

In [59]:
# Function to remove duplicates
def remove_duplicates(df):
    return df.drop_duplicates(keep='last')

# Apply the function to each dataframe
matches_df = remove_duplicates(matches_df)
batsman_df = remove_duplicates(batsman_df)
bowler_df = remove_duplicates(bowler_df)

# Check if duplicates are removed
print(matches_df.duplicated().sum())
print(batsman_df.duplicated().sum())
print(bowler_df.duplicated().sum())

0
0
0

In [60]:
matches_df = matches_df[(matches_df['match id'] >= 8000000) & (matches_df['match id'] <= 10000000)]
batsman_df = batsman_df[(batsman_df['match id'] >= 8000000) & (batsman_df['match id'] <= 10000000)]
bowler_df = bowler_df[(bowler_df['match id'] >= 8000000) & (bowler_df['match id'] <= 10000000)]

In [61]:
batsman_df = batsman_df[(batsman_df['batsman_id'] >= 36000) & (batsman_df['batsman_id'] <= 10000000)]

In [62]:
for index, row in batsman_df.iterrows():
    if pd.isnull(row['strike_rate']) and not pd.isnull(row['runs']) and not pd.isnull(row['balls_faced']) and row['balls_faced'] != 0:
        batsman_df.at[index, 'strike_rate'] = (row['runs'] / row['balls_faced']) * 100

In [63]:
batsman_df.head()

,match id,batsman,batsman_id,batsman_dob,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,...,bowler_id,bowler_dob,bowler_details,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,match_dt,ingestion_timestamp
56,8587865,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,2,46.0,33,...,NaN,NaN,NaN,NaN,NaN,139.39,6,NaN,2021-01-25,2022-03-22 12:43:21
57,8587893,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,1,23.0,24,...,5788418.0,1994-09-22,AUS:Right-hand bat:Right-arm fast-medium:,0.0,0.0,95.83,1,NaN,2021-01-18,2022-03-22 12:43:21
58,8587942,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,2,22.0,18,...,2633196.0,1990-03-29,AUS:Right-hand bat:Right-arm medium-fast:,0.0,0.0,122.22,2,NaN,2021-01-24,2022-03-22 12:43:21
59,8587970,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,1,35.0,34,...,6818776.0,2001-03-28,AFG:Right-hand bat:Right-arm offbreak:,0.0,0.0,102.94,4,NaN,2021-01-04,2022-03-22 12:43:21
60,8588005,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,2,11.0,9,...,1594319.0,1988-12-18,PAK:Left-hand bat:Slow left-arm orthodox:,0.0,0.0,122.22,1,NaN,2021-01-01,2022-03-22 12:43:21

In [64]:
batsman_df.isnull().sum()

match id                   0
batsman                    0
batsman_id                 0
batsman_dob                0
batsman_details            0
is_batsman_captain         0
is_batsman_keeper          0
inning                     0
runs                      50
balls_faced                0
over_faced_first           0
wicket kind             5452
out_by_bowler           5452
out_by_fielder             6
bowler_id               6499
bowler_dob              6499
bowler_details          6499
is_bowler_keeper        5912
is_bowler_captain       6499
strike_rate                7
Fours                  10455
Sixes                  15679
match_dt                   0
ingestion_timestamp        0
dtype: int64

In [65]:
batsman_df['wicket kind'] = batsman_df.apply(
    lambda row: 'Not Out' if pd.isnull(row['wicket kind']) and row['runs'] > 0 and row['balls_faced'] > 0 else row['wicket kind'], axis=1
)

In [66]:
batsman_df['Fours'].fillna(0, inplace=True)
batsman_df['Sixes'].fillna(0, inplace=True)

In [67]:
print(batsman_df.isnull().sum())

match id                  0
batsman                   0
batsman_id                0
batsman_dob               0
batsman_details           0
is_batsman_captain        0
is_batsman_keeper         0
inning                    0
runs                     50
balls_faced               0
over_faced_first          0
wicket kind             240
out_by_bowler          5452
out_by_fielder            6
bowler_id              6499
bowler_dob             6499
bowler_details         6499
is_bowler_keeper       5912
is_bowler_captain      6499
strike_rate               7
Fours                     0
Sixes                     0
match_dt                  0
ingestion_timestamp       0
dtype: int64

In [68]:
merged_df = pd.merge(
    batsman_df, bowler_df,
    on=['match id', 'bowler_id'],
    how='left',
    suffixes=('', '_y')
)

In [69]:
merged_df

,match id,batsman,batsman_id,batsman_dob,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,...,balls_bowled,economy,maiden,dots,Fours_y,Sixes_y,wides,noballs,match_dt_y,ingestion_timestamp_y
0,8587865,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,2,46.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,8587893,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,1,23.0,24,...,24.0,8.75,0.0,9,3.0,1.0,4,0.0,2021-01-18,2022-03-21 03:44:58.000
2,8587942,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,2,22.0,18,...,18.0,5.67,0.0,10,2.0,0.0,1,0.0,2021-01-24,2022-03-21 03:44:58.000
3,8587970,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,1,35.0,34,...,24.0,6.50,0.0,13,0.0,2.0,1,0.0,2021-01-04,2022-03-21 03:44:58.000
4,8588005,CJ Fn,36665,1984-11-21,AUS:Right-hand bat:Right-arm medium:,1,0,2,11.0,9,...,18.0,11.33,0.0,4,6.0,0.0,1,0.0,2021-01-01,2022-03-21 03:44:58.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24903,9684982,Sv Dy,9822322,2003-12-23,IND:Right-hand bat:Right-arm medium:,0,0,1,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
24904,9684541,PR Vr,9822392,2005-11-24,IND:Right-hand bat:Slow left-arm orthodox:,0,0,1,0.0,1,...,24.0,14.25,0.0,6,5.0,4.0,0,1.0,2023-10-21,2024-03-14 17:12:36.995
24905,9866331,BJ Js,9874052,2002-05-06,NZ:Right-hand bat:Right-arm medium:,0,0,2,42.0,20,...,23.0,6.78,0.0,9,2.0,1.0,0,0.0,2023-12-19,2024-03-14 17:12:36.995
24906,9887856,T Si,9883250,2005-06-04,UAE:Right-hand bat:None:,0,1,2,20.0,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
24907,9887856,S Ua,9899140,1997-02-22,UAE:Left-hand bat:Legbreak:,0,0,2,4.0,10,...,24.0,4.75,0.0,15,2.0,0.0,2,0.0,2023-12-29,2024-03-14 17:12:36.995

In [70]:
columns_to_impute = [
    'wicket kind', 'out_by_bowler', 'out_by_fielder', 
    'bowler_id', 'bowler_dob', 'bowler_details', 
    'is_bowler_keeper', 'is_bowler_captain'
]

for column in columns_to_impute:
    if column in merged_df.columns:
        batsman_df[column].fillna(merged_df[f'{column}'], inplace=True)

In [71]:
batsman_df.isnull().sum()

match id                  0
batsman                   0
batsman_id                0
batsman_dob               0
batsman_details           0
is_batsman_captain        0
is_batsman_keeper         0
inning                    0
runs                     50
balls_faced               0
over_faced_first          0
wicket kind               2
out_by_bowler          1245
out_by_fielder            0
bowler_id              1790
bowler_dob             1790
bowler_details         1790
is_bowler_keeper       1473
is_bowler_captain      1790
strike_rate               7
Fours                     0
Sixes                     0
match_dt                  0
ingestion_timestamp       0
dtype: int64

In [72]:
null_bowler_id_records = batsman_df[batsman_df['bowler_id'].isnull()]

# Display the records
print(null_bowler_id_records)

       match id batsman  batsman_id batsman_dob  \
111     9151064   AJ Fh       37351  1986-11-17
144     8842133   MC Hs       41740  1987-02-01
145     8887479   MC Hs       41740  1987-02-01
188     9702790   SE Mh       46794  1983-07-09
199     9085201   PM Se       55299  1984-11-25
...         ...     ...         ...         ...
24915   9684506   An Si     9822280  2007-06-21
24917   9684506    D Yv     9822294  2002-08-01
24918   9684618    D Yv     9822294  2002-08-01
24920   9684982   Sv Dy     9822322  2003-12-23
24923   9887856    T Si     9883250  2005-06-04

                                  batsman_details  is_batsman_captain  \
111    AUS:Right-hand bat:Slow left-arm orthodox:                   1
144     AUS:Right-hand bat:Right-arm fast-medium:                   0
145     AUS:Right-hand bat:Right-arm fast-medium:                   1
188     AUS:Left-hand bat:Slow left-arm orthodox:                   0
199     AUS:Right-hand bat:Right-arm fast-medium:                   0
...                                           ...                 ...
24915   IND:Right-hand bat:Right-arm medium-fast:                   0
24917  IND:Right-hand bat:Slow left-arm orthodox:                   0
24918  IND:Right-hand bat:Slow left-arm orthodox:                   0
24920        IND:Right-hand bat:Right-arm medium:                   0
24923                    UAE:Right-hand bat:None:                   0

       is_batsman_keeper  inning  runs  balls_faced  ...  bowler_id  \
111                    0       2  61.0           40  ...        NaN
144                    0       2  21.0           14  ...        NaN
145                    0       1  76.0           38  ...        NaN
188                    0       2  54.0           33  ...        NaN
199                    0       1  11.0           12  ...        NaN
...                  ...     ...   ...          ...  ...        ...
24915                  0       1   5.0            5  ...        NaN
24917                  0       1   1.0            4  ...        NaN
24918                  0       1   6.0           12  ...        NaN
24920                  0       1   0.0            1  ...        NaN
24923                  1       2  20.0           25  ...        NaN

      bowler_dob bowler_details is_bowler_keeper  is_bowler_captain  \
111          NaN            NaN              NaN                NaN
144          NaN            NaN              NaN                NaN
145          NaN            NaN              NaN                NaN
188          NaN            NaN              NaN                NaN
199          NaN            NaN              NaN                NaN
...          ...            ...              ...                ...
24915        NaN            NaN              NaN                NaN
24917        NaN            NaN              NaN                NaN
24918        NaN            NaN              NaN                NaN
24920        NaN            NaN              NaN                NaN
24923        NaN            NaN              NaN                NaN

      strike_rate Fours  Sixes    match_dt     ingestion_timestamp
111        152.50     4      4  2022-06-07 2023-03-10 21:21:02.995
144        150.00     3      0  2021-07-16 2022-03-22 12:43:21.000
145        200.00     8      3  2021-12-05 2022-03-22 12:43:21.000
188        163.64     3      4  2023-12-29 2024-03-26 03:41:36.000
199         91.67     0      0  2022-06-21 2023-03-10 21:21:02.995
...           ...   ...    ...         ...                     ...
24915      100.00     0      0  2023-10-21 2024-03-26 03:41:36.000
24917       25.00     0      0  2023-10-21 2024-03-26 03:41:36.000
24918       50.00     1      0  2023-10-23 2024-03-26 03:41:36.000
24920        0.00     0      0  2023-11-04 2024-03-26 03:41:36.000
24923       80.00     1      0  2023-12-29 2024-03-26 03:41:36.000

[1790 rows x 24 columns]

In [73]:

batsman_df['bowler_id'].fillna('Unknown', inplace=True)

# Impute bowler_dob with a placeholder date
batsman_df['bowler_dob'].fillna('1900-01-01', inplace=True)

# Impute bowler_details with an empty string
batsman_df['bowler_details'].fillna('', inplace=True)

# Impute bowler_details with an empty string
batsman_df['out_by_bowler'].fillna('', inplace=True)

# Impute is_bowler_keeper and is_bowler_captain with False
batsman_df['is_bowler_keeper'].fillna(0, inplace=True)
batsman_df['is_bowler_captain'].fillna(0, inplace=True)

In [74]:
batsman_df.isnull().sum()

match id                0
batsman                 0
batsman_id              0
batsman_dob             0
batsman_details         0
is_batsman_captain      0
is_batsman_keeper       0
inning                  0
runs                   50
balls_faced             0
over_faced_first        0
wicket kind             2
out_by_bowler           0
out_by_fielder          0
bowler_id               0
bowler_dob              0
bowler_details          0
is_bowler_keeper        0
is_bowler_captain       0
strike_rate             7
Fours                   0
Sixes                   0
match_dt                0
ingestion_timestamp     0
dtype: int64

In [75]:
null_run_records = batsman_df[batsman_df['runs'].isnull()]

# Display the records
print(null_run_records)

       match id   batsman  batsman_id batsman_dob  \
77      8637824     AJ Fh       37351  1986-11-17
192     8587998     SJ Oe       49496  1984-12-09
385     9084956     SJ Ct       82228  1984-10-11
1897    9271730     AS Fr      363047  1987-11-28
2802    8895872     MS We     1611364  1987-12-26
2890    9484593     BJ Cg     1612610  1987-01-30
2933    8768822     SP Ne     1613919  1988-05-26
3746    8887486     AD Hs     1749075  1989-01-03
4888    9684534     MK Py     2034423  1989-09-10
5592    8763691      A Be     2123974  1990-12-28
6033    8752169     SG Bk     2173646  1990-04-19
6846    9440556     MG Bl     2288789  1991-02-14
7068    8588208     AI Rs     2335381  1992-04-17
7653    9051069     Un Qr     2437077  1993-08-10
7829    8752344     DL Ld     2531913  1992-06-15
8977    9457524     Ar Ha     2815728  1991-08-15
9437    8710288     RG Me     2969546  1992-02-02
9488    8778692     SV Sn     2981614  1994-11-11
9799    8647722      H Kn     3057312  1991-07-30
9891    9271744     MD Sa     3061225  1991-09-09
9960    8916284     SJ Bd     3065502  1992-04-29
10662   9433472     AZ Ls     3225305  1993-04-14
10786   9680166  DM de Sa     3260564  1991-09-06
10864   9084956      T Ke     3294444  1994-08-19
10879   9433325      T Ke     3294444  1994-08-19
12691   9076822     Tn Ad     3769555  1995-04-03
12909   9076920     Mk Hn     3850944  1995-12-10
13966   9856734      C Cr     4171460  1999-04-20
13972   9262021      D Jn     4171691  2000-05-01
14296   8895865     BR Mt     4223883  1994-12-12
14631   9051027     Kn Gm     4365465  1995-10-10
14906   9680201     TL St     4381761  1994-12-14
15108   8752351     SS Ei     4421689  1994-03-28
15187   9085327     DJ Lb     4460070  1995-09-07
15591   9702769     JP Is     4635658  1995-03-04
16713   9516373      S De     5001170  1993-06-26
16745   9051244     Kl Sh     5017144  1995-02-07
19267   9225362     OC My     6347494  1997-01-04
20162   9038434     KA Ba     6710850  1998-11-23
21214   9713199     Sn Gl     7491224  1999-09-08
22194   9849755     SR Ba     7753605  1998-09-24
22359   9433836     JM En     7810977  2001-11-14
22883   9077011  Pz Hn En     7976590  2002-06-12
23111   9516625     YK Jl     8058959  2001-12-28
23322   8710771     St Kr     8118151  1995-12-12
23501   8638174     WT Ol     8144184  1997-09-29
23604   9516520     Ht Br     8180500  1995-09-16
23983   8638055     JA Fd     8354821  2000-12-19
24398   9352230  An Al Kn     8688868  2005-11-15
24790   9644109      A Sa     9059000  2004-12-03

                                  batsman_details  is_batsman_captain  \
77     AUS:Right-hand bat:Slow left-arm orthodox:                   1
192    AUS:Right-hand bat:Slow left-arm orthodox:                   0
385        ENG:Right-hand bat:Right-arm offbreak:                   0
1897     WI:Right-hand bat:Right-arm medium-fast:                   0
2802          AUS:Left-hand bat:Right-arm medium:                   1
2890    AUS:Right-hand bat:Right-arm fast-medium:                   0
2933         WI:Left-hand bat:Right-arm offbreak:                   0
3746         ENG:Right-hand bat:Right-arm medium:                   0
4888         IND:Right-hand bat:Right-arm medium:                   0
5592       IRE:Right-hand bat:Right-arm offbreak:                   1
6033                  ENG:Left-hand bat:Legbreak:                   0
6846         NZ:Left-hand bat:Right-arm offbreak:                   0
7068       AUS:Right-hand bat:Right-arm offbreak:                   0
7653                  PAK:Left-hand bat:Legbreak:                   0
7829         ENG:Right-hand bat:Right-arm medium:                   0
8977   AFG:Right-hand bat:Slow left-arm orthodox:                   0
9437         IND:Right-hand bat:Right-arm medium:                   0
9488                     IND:Right-hand bat:None:                   1
9799        SA:Right-hand bat:Right-arm offbreak:                   1
9891          SL:Right-hand bat:Right-arm medium:                   1
9960    NAM:Right-hand bat:Right-arm medium-fast:                   0
10662                 ENG:Left-hand bat:Legbreak:                   1
10786       SL:Right-hand bat:Right-arm offbreak:                   0
10864      ENG:Right-hand bat:Right-arm offbreak:                   0
10879      ENG:Right-hand bat:Right-arm offbreak:                   0
12691           BAN:Left-hand bat:Right-arm fast:                   0
12909      BAN:Right-hand bat:Right-arm offbreak:                   1
13966   IRE:Right-hand bat:Right-arm medium-fast:                   0
13972            SA:Right-hand bat:Left-arm fast:                   0
14296        AUS:Right-hand bat:Right-arm medium:                   0
14631  PAK:Right-hand bat:Slow left-arm orthodox:                   0
14906                     NZ:Right-hand bat:None:                   0
15108                    ENG:Right-hand bat:None:                   0
15187   ENG:Right-hand bat:Right-arm medium-fast:                   0
15591                    AUS:Right-hand bat:None:                   0
16713         IND:Left-hand bat:Right-arm medium:                   0
16745   PAK:Left-hand bat:Slow left-arm orthodox:                   0
19267      WI:Left-hand bat:Left-arm fast-medium:                   0
20162                 SL:Right-hand bat:Legbreak:                   0
21214      IND:Right-hand bat:Right-arm offbreak:                   0
22194      KENYA:Right-hand bat:Right-arm medium:                   0
22359        ENG:Right-hand bat:Right-arm medium:                   0
22883                     BAN:Left-hand bat:None:                   0
23111                 IND:Left-hand bat:Legbreak:                   0
23322   IND:Right-hand bat:Right-arm medium-fast:                   0
23501       NZ:Right-hand bat:Right-arm offbreak:                   0
23604   IND:Left-hand bat:Slow left-arm orthodox:                   0
23983    NZ:Right-hand bat:Right-arm medium-fast:                   0
24398  UAE:Right-hand bat:Slow left-arm orthodox:                   0
24790                    UAE:Right-hand bat:None:                   0

       is_batsman_keeper  inning  runs  balls_faced  ...  bowler_id  \
77                     0       1   NaN           44  ...  3913475.0
192                    0       2   NaN            4  ...  4967738.0
385                    0       1   NaN           24  ...  5367676.0
1897                   1       1   NaN           22  ...  8067002.0
2802                   1       2   NaN            3  ...  5831622.0
2890                   0       2   NaN           13  ...  5736016.0
2933                   0       1   NaN            3  ...  4420828.0
3746                   0       2   NaN            2  ...  7353828.0
4888                   0       1   NaN           17  ...  9455557.0
5592                   0       2   NaN            7  ...  2659502.0
6033                   0       1   NaN           15  ...    65183.0
6846                   0       1   NaN            2  ...    Unknown
7068                   0       1   NaN           11  ...  4132295.0
7653                   0       2   NaN            2  ...    Unknown
7829                   0       2   NaN           29  ...  6460614.0
8977                   0       2   NaN            1  ...  8106629.0
9437                   0       1   NaN            6  ...    Unknown
9488                   1       2   NaN           53  ...  2733380.0
9799                   1       2   NaN           40  ...  1711492.0
9891                   0       1   NaN            5  ...  2270519.0
9960                   0       1   NaN           21  ...  1642738.0
10662                  0       1   NaN           13  ...  3673914.0
10786                  0       2   NaN           31  ...  3061225.0
10864                  1       2   NaN           43  ...  8055417.0
10879                  1       1   NaN           10  ...  3030733.0
12691                  0       1   NaN            5  ...   392888.0
12909                  0       1   NaN           30  ...  6493346.0
13966                  0       1   NaN            6  ...  2097017.0
13972                  0       2   NaN            8  ...  4239794.0
14296                  0       2   NaN           41  ...   393014.0
14631                  0       1   NaN           31  ...  2157770.0
14906                  1       1   NaN           23  ...  8067002.0
15108                  0       2   NaN            4  ...  3252395.0
15187                  0       2   NaN            1  ...  5509524.0
15591                  1       1   NaN           44  ...  4393402.0
16713                  0       1   NaN           16  ...  8228100.0
16745                  0       2   NaN           23  ...  8131255.0
19267                  0       2   NaN            3  ...  8228100.0
20162                  0       1   NaN           30  ...  1636627.0
21214                  0       1   NaN            2  ...  2659222.0
22194                  0       2   NaN           23  ...  8059379.0
22359                  0       2   NaN           24  ...  3546297.0
22883                  0       1   NaN            7  ...  5831622.0
23111                  0       1   NaN           62  ...  8713270.0
23322                  0       1   NaN           10  ...    Unknown
23501                  0       1   NaN           30  ...  2236086.0
23604                  0       2   NaN           13  ...  6586824.0
23983                  0       1   NaN            2  ...  4949790.0
24398                  0       2   NaN           17  ...  6930286.0
24790                  1       2   NaN            3  ...  1626561.0

       bowler_dob                             bowler_details is_bowler_keeper  \
77     1992-10-31                NZ:Right-hand bat:Legbreak:              0.0
192    1995-04-08  AUS:Right-hand bat:Right-arm fast-medium:              0.0
385    1996-10-09   ENG:Left-hand bat:Right-arm medium-fast:              0.0
1897   2003-01-09   SL:Left-hand bat:Slow left-arm orthodox:              0.0
2802   1994-12-12     BAN:Right-hand bat:Right-arm offbreak:              0.0
2890   2000-03-24  AFG:Right-hand bat:Right-arm medium-fast:              0.0
2933   1996-05-26     ENG:Right-hand bat:Right-arm offbreak:              0.0
3746   1998-12-17  AUS:Right-hand bat:Right-arm fast-medium:              0.0
4888   2003-05-15        IND:Right-hand bat:Legbreak googly:              0.0
5592   1990-06-08     SA:Left-hand bat:Left-arm fast-medium:              0.0
6033   1985-02-28  ENG:Right-hand bat:Right-arm medium-fast:              0.0
6846   1900-01-01                                                         0.0
7068   1993-10-04               AUS:Right-hand bat:Legbreak:              0.0
7653   1900-01-01                                                         0.0
7829   1998-10-04               PAK:Right-hand bat:Legbreak:              0.0
8977   2003-02-15         PAK:Right-hand bat:Right-arm fast:              0.0
9437   1900-01-01                                                         0.0
9488   1990-11-23       IND:Right-hand bat:Right-arm medium:              0.0
9799   1988-02-17               ENG:Right-hand bat:Legbreak:              0.0
9891   1986-10-19   SL:Right-hand bat:Right-arm fast-medium:              0.0
9960   1988-12-06  IND:Left-hand bat:Slow left-arm orthodox:              0.0
10662  1993-04-18  ENG:Right-hand bat:Right-arm medium-fast:              0.0
10786  1991-09-09        SL:Right-hand bat:Right-arm medium:              0.0
10864  1999-05-03  ENG:Left-hand bat:Slow left-arm orthodox:              0.0
10879  1989-02-10      SA:Right-hand bat:Right-arm offbreak:              0.0
12691  1995-01-05       BAN:Right-hand bat:Right-arm medium:              0.0
12909  1992-09-20       BAN:Right-hand bat:Right-arm medium:              0.0
13966  1986-04-24     ZIM:Right-hand bat:Right-arm offbreak:              0.0
13972  1995-03-24   SA:Right-hand bat:Right-arm fast-medium:              0.0
14296  1987-03-24  BAN:Left-hand bat:Slow left-arm orthodox:              0.0
14631  1990-02-28    ENG:Left-hand bat:Left-arm fast-medium:              0.0
14906  2003-01-09   SL:Left-hand bat:Slow left-arm orthodox:              0.0
15108  1994-04-10  ENG:Right-hand bat:Right-arm medium-fast:              0.0
15187  1993-10-01     AUS:Right-hand bat:Right-arm offbreak:              0.0
15591  1994-03-03   AUS:Left-hand bat:Right-arm medium-fast:              0.0
16713  2000-09-05        IND:Right-hand bat:Legbreak googly:              0.0
16745  1993-11-07         PAK:Right-hand bat:Right-arm fast:              0.0
19267  2000-09-05        IND:Right-hand bat:Legbreak googly:              0.0
20162  1989-08-14      SL:Right-hand bat:Right-arm offbreak:              0.0
21214  1993-10-01    SA:Left-hand bat:Right-arm medium-fast:              0.0
22194  1990-04-15  UGA:Right-hand bat:Right-arm medium-fast:              0.0
22359  1991-12-14   NZ:Right-hand bat:Right-arm fast-medium:              0.0
22883  1994-12-12     BAN:Right-hand bat:Right-arm offbreak:              0.0
23111  1997-12-20         IND:Left-hand bat:Left-arm medium:              0.0
23322  1900-01-01                                                         0.0
23501  1986-06-11     NZ:Left-hand bat:Left-arm fast-medium:              0.0
23604  1994-03-13         IND:Right-hand bat:Right-arm fast:              0.0
23983  1993-05-20      NZ:Right-hand bat:Right-arm offbreak:              0.0
24398  2001-06-03    BAN:Left-hand bat:Left-arm medium-fast:              0.0
24790  1988-12-11   NZ:Right-hand bat:Right-arm medium-fast:              0.0

      is_bowler_captain strike_rate Fours  Sixes    match_dt  \
77                  0.0      156.82     8      2  2021-03-03
192                 0.0        0.00     0      0  2021-01-10
385                 0.0      170.83     2      3  2022-06-08
1897                0.0      159.09     4      2  2022-12-14
2802                0.0       66.67     0      0  2021-08-07
2890                0.0      115.38     1      1  2023-03-01
2933                0.0       33.33     0      0  2021-08-08
3746                0.0        0.00     0      0  2021-12-06
4888                0.0      100.00     0      1  2023-10-21
5592                0.0       85.71     1      0  2021-07-22
6033                0.0      120.00     1      1  2021-06-26
6846                0.0       50.00     0      0  2023-01-27
7068                0.0       81.82     0      0  2021-01-31
7653                0.0      350.00     0      1  2022-02-02
7829                1.0      175.86     7      1  2021-07-02
8977                0.0        0.00     0      0  2023-01-23
9437                0.0      150.00     0      1  2021-01-12
9488                0.0      132.08     8      1  2021-09-25
9799                0.0      135.00     3      3  2021-02-19
9891                0.0      240.00     1      1  2022-12-17
9960                0.0      100.00     1      1  2021-11-08
10662               0.0      100.00     2      0  2023-06-09
10786               1.0      138.71     5      1  2023-07-31
10864               0.0      179.07     9      4  2022-06-08
10879               1.0      170.00     2      1  2023-06-04
12691               0.0       40.00     0      0  2022-01-22
12909               0.0      113.33     3      2  2022-02-03
13966               1.0      133.33     1      0  2023-12-07
13972               0.0      100.00     1      0  2022-08-31
14296               0.0       85.37     0      2  2021-08-06
14631               0.0      138.71     2      3  2022-01-29
14906               0.0       78.26     0      1  2023-08-04
15108               1.0      100.00     1      0  2021-07-02
15187               0.0        0.00     0      0  2022-06-24
15591               0.0      145.45     3      4  2023-12-26
16713               0.0      168.75     1      3  2023-04-03
16745               0.0      139.13     4      1  2022-02-27
19267               0.0        0.00     0      0  2022-08-07
20162               0.0      140.00     3      1  2021-12-10
21214               0.0        0.00     0      0  2023-12-12
22194               0.0      117.39     1      1  2023-11-29
22359               0.0      191.67     6      2  2023-07-02
22883               0.0      100.00     0      1  2022-02-12
23111               0.0      200.00    16      8  2023-04-30
23322               0.0      210.00     3      1  2021-01-19
23501               0.0      133.33     2      2  2021-02-01
23604               0.0      100.00     1      0  2023-04-20
23983               0.0       50.00     0      0  2021-01-04
24398               0.0      147.06     3      0  2022-09-25
24790               1.0        0.00     0      0  2023-08-19

          ingestion_timestamp
77    2022-03-22 12:43:21.000
192   2022-03-22 12:43:21.000
385   2023-03-10 21:21:02.995
1897  2023-03-10 21:21:02.995
2802  2022-03-22 12:43:21.000
2890  2024-03-26 03:41:36.000
2933  2022-03-22 12:43:21.000
3746  2022-03-22 12:43:21.000
4888  2024-03-26 03:41:36.000
5592  2022-03-22 12:43:21.000
6033  2022-03-22 12:43:21.000
6846  2024-03-26 03:41:36.000
7068  2022-03-22 12:43:21.000
7653  2023-03-10 21:21:02.995
7829  2022-03-22 12:43:21.000
8977  2024-03-26 03:41:36.000
9437  2022-03-22 12:43:21.000
9488  2022-03-22 12:43:21.000
9799  2022-03-22 12:43:21.000
9891  2023-03-10 21:21:02.995
9960  2022-03-22 12:43:21.000
10662 2024-03-26 03:41:36.000
10786 2024-03-26 03:41:36.000
10864 2023-03-10 21:21:02.995
10879 2024-03-26 03:41:36.000
12691 2023-03-10 21:21:02.995
12909 2023-03-10 21:21:02.995
13966 2024-03-26 03:41:36.000
13972 2023-03-10 21:21:02.995
14296 2022-03-22 12:43:21.000
14631 2023-03-10 21:21:02.995
14906 2024-03-26 03:41:36.000
15108 2022-03-22 12:43:21.000
15187 2023-03-10 21:21:02.995
15591 2024-03-26 03:41:36.000
16713 2024-03-26 03:41:36.000
16745 2023-03-10 21:21:02.995
19267 2023-03-10 21:21:02.995
20162 2022-03-22 12:43:21.000
21214 2024-03-26 03:41:36.000
22194 2024-03-26 03:41:36.000
22359 2024-03-26 03:41:36.000
22883 2023-03-10 21:21:02.995
23111 2024-03-26 03:41:36.000
23322 2022-03-22 12:43:21.000
23501 2022-03-22 12:43:21.000
23604 2024-03-26 03:41:36.000
23983 2022-03-22 12:43:21.000
24398 2023-03-10 21:21:02.995
24790 2024-03-26 03:41:36.000

[50 rows x 24 columns]

In [76]:
mask = batsman_df['runs'].isnull() & batsman_df['strike_rate'].notnull() & batsman_df['balls_faced'].notnull()

# Calculate runs
batsman_df.loc[mask, 'runs'] = (batsman_df.loc[mask, 'strike_rate'] / 100) * batsman_df.loc[mask, 'balls_faced']

# Optionally round the runs to the nearest integer if required
batsman_df['runs'] = batsman_df['runs'].round().astype('Int64')

In [77]:
batsman_df.isnull().sum()

match id               0
batsman                0
batsman_id             0
batsman_dob            0
batsman_details        0
is_batsman_captain     0
is_batsman_keeper      0
inning                 0
runs                   0
balls_faced            0
over_faced_first       0
wicket kind            2
out_by_bowler          0
out_by_fielder         0
bowler_id              0
bowler_dob             0
bowler_details         0
is_bowler_keeper       0
is_bowler_captain      0
strike_rate            7
Fours                  0
Sixes                  0
match_dt               0
ingestion_timestamp    0
dtype: int64

In [78]:
null_strike_rate_records = batsman_df[batsman_df['strike_rate'].isnull()]

# Display the records
print(null_strike_rate_records)

       match id batsman  batsman_id batsman_dob  \
1468    8729230   Wb Rz      305143  1985-06-28
4603    9516625   TA Bt     1945397  1989-07-22
7783    9256561   JS Nm     2486896  1990-09-17
12607   9344453   OG Bn     3747484  1993-03-18
20730   9084655   HH Bs     7184666  1999-08-21
23028   9084830   TW Hy     8055417  1999-05-03
23178   9271807    V Vh     8072056  2001-12-05

                                 batsman_details  is_batsman_captain  \
1468           PAK:Right-hand bat:Left-arm fast:                   1
4603     NZ:Right-hand bat:Left-arm fast-medium:                   0
7783     NZ:Left-hand bat:Right-arm medium-fast:                   0
12607   SA:Right-hand bat:Right-arm medium-fast:                   0
20730  ENG:Right-hand bat:Right-arm fast-medium:                   0
23028  ENG:Left-hand bat:Slow left-arm orthodox:                   0
23178                SL:Right-hand bat:Legbreak:                   0

       is_batsman_keeper  inning  runs  balls_faced  ...  bowler_id  \
1468                   0       1     0            0  ...  2214554.0
4603                   0       1     0            0  ...  2649485.0
7783                   0       2     0            0  ...  5490638.0
12607                  0       1     0            0  ...  4165265.0
20730                  0       1     0            0  ...  4433547.0
23028                  0       2     0            0  ...  2018001.0
23178                  0       2     0            0  ...    Unknown

       bowler_dob                              bowler_details  \
1468   1987-07-15   PAK:Right-hand bat:Right-arm medium-fast:
4603   1989-02-13      IND:Right-hand bat:Right-arm offbreak:
7783   1997-02-13            SL:Left-hand bat:Right-arm fast:
12607  1997-05-25           SA:Right-hand bat:Right-arm fast:
20730  1995-01-10  AFG:Right-hand bat:Slow left-arm orthodox:
23028  1991-01-08    AUS:Left-hand bat:Right-arm fast-medium:
23178  1900-01-01

      is_bowler_keeper is_bowler_captain strike_rate Fours  Sixes    match_dt  \
1468               0.0               0.0         NaN     0      0  2021-06-13
4603               0.0               0.0         NaN     0      0  2023-04-30
7783               0.0               0.0         NaN     0      0  2023-04-08
12607              0.0               0.0         NaN     0      0  2022-11-02
20730              0.0               0.0         NaN     0      0  2022-05-27
23028              0.0               0.0         NaN     0      0  2022-06-03
23178              0.0               0.0         NaN     0      0  2022-12-23

          ingestion_timestamp
1468  2022-03-22 12:43:21.000
4603  2024-03-26 03:41:36.000
7783  2024-03-26 03:41:36.000
12607 2023-03-10 21:21:02.995
20730 2023-03-10 21:21:02.995
23028 2023-03-10 21:21:02.995
23178 2023-03-10 21:21:02.995

[7 rows x 24 columns]

In [79]:
mask_balls_faced_0 = (batsman_df['balls_faced'] == 0) & (batsman_df['strike_rate'].isna())

# Set strike_rate to 0 where balls_faced is 0 and strike_rate is NaN
batsman_df.loc[mask_balls_faced_0, 'strike_rate'] = 0

In [80]:
batsman_df.isnull().sum()

match id               0
batsman                0
batsman_id             0
batsman_dob            0
batsman_details        0
is_batsman_captain     0
is_batsman_keeper      0
inning                 0
runs                   0
balls_faced            0
over_faced_first       0
wicket kind            2
out_by_bowler          0
out_by_fielder         0
bowler_id              0
bowler_dob             0
bowler_details         0
is_bowler_keeper       0
is_bowler_captain      0
strike_rate            0
Fours                  0
Sixes                  0
match_dt               0
ingestion_timestamp    0
dtype: int64

In [81]:
null_wicket_kind_records = batsman_df[batsman_df['wicket kind'].isnull()]

# Display the records
print(null_wicket_kind_records)

       match id batsman  batsman_id batsman_dob  \
16210   8710211   BA Pn     4772494  1994-08-19
24910   9684618    N Ji     9822252  1998-01-15

                                 batsman_details  is_batsman_captain  \
16210  IND:Right-hand bat:Right-arm medium-fast:                   0
24910                   IND:Right-hand bat:None:                   0

       is_batsman_keeper  inning  runs  balls_faced  ...  bowler_id  \
16210                  0       1     0            2  ...    Unknown
24910                  0       1     0            4  ...    Unknown

       bowler_dob bowler_details is_bowler_keeper is_bowler_captain  \
16210  1900-01-01                             0.0               0.0
24910  1900-01-01                             0.0               0.0

      strike_rate Fours  Sixes    match_dt  ingestion_timestamp
16210         0.0     0      0  2021-01-10  2022-03-22 12:43:21
24910         0.0     0      0  2023-10-23  2024-03-26 03:41:36

[2 rows x 24 columns]

In [82]:
batsman_df['wicket kind'].fillna('Unknown', inplace=True)

In [83]:
batsman_df.isnull().sum()

match id               0
batsman                0
batsman_id             0
batsman_dob            0
batsman_details        0
is_batsman_captain     0
is_batsman_keeper      0
inning                 0
runs                   0
balls_faced            0
over_faced_first       0
wicket kind            0
out_by_bowler          0
out_by_fielder         0
bowler_id              0
bowler_dob             0
bowler_details         0
is_bowler_keeper       0
is_bowler_captain      0
strike_rate            0
Fours                  0
Sixes                  0
match_dt               0
ingestion_timestamp    0
dtype: int64

In [84]:
column_names = batsman_df.columns

# Get the data types of all columns
column_dtypes = batsman_df.dtypes

# Combine column names and data types into a DataFrame
column_info = pd.DataFrame({'Data Type': column_dtypes})

print(column_info)

                          Data Type
match id                      int64
batsman                      object
batsman_id                    int64
batsman_dob                  object
batsman_details              object
is_batsman_captain            int64
is_batsman_keeper             int64
inning                        int64
runs                          Int64
balls_faced                   int64
over_faced_first            float64
wicket kind                  object
out_by_bowler                object
out_by_fielder               object
bowler_id                    object
bowler_dob                   object
bowler_details               object
is_bowler_keeper            float64
is_bowler_captain           float64
strike_rate                 float64
Fours                        object
Sixes                        object
match_dt                     object
ingestion_timestamp  datetime64[ns]

In [86]:
output_file = 'output_file.xlsx'
batsman_df.to_excel(output_file, index=False)

In [101]:
numerical_cols = batsman_df.select_dtypes(include=['int64', 'float64']).columns

In [102]:
numerical_cols

Index(['match id', 'batsman_id', 'is_batsman_captain', 'is_batsman_keeper',
       'inning', 'runs', 'balls_faced', 'over_faced_first', 'is_bowler_keeper',
       'is_bowler_captain', 'strike_rate'],
      dtype='object')

In [103]:
# Columns to remove
cols_to_remove = ['match id', 'batsman_id', 'is_batsman_captain', 'is_batsman_keeper', 'inning', 'is_bowler_keeper', 'is_bowler_captain']

numerical_cols = list(numerical_cols)

# Remove columns from the list
for col in cols_to_remove:
    if col in numerical_cols:
        numerical_cols.remove(col)

In [104]:
numerical_cols

['runs', 'balls_faced', 'over_faced_first', 'strike_rate']

In [105]:
for col in numerical_cols:
    Q1 = batsman_df[col].quantile(0.25)
    Q3 = batsman_df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = batsman_df[(batsman_df[col] < lower_bound) | (batsman_df[col] > upper_bound)][col]
    print(f"Outliers in column '{col}': {outliers.values}")

Outliers in column 'runs': <IntegerArray>
[53, 50, 49, 52, 53, 51, 52, 49, 51, 51,
 ...
 51, 51, 51, 50, 50, 49, 50, 52, 51, 51]
Length: 523, dtype: Int64
Outliers in column 'balls_faced': [37 38 38 38 37 37 39 39 37 39 39 37 38 39 37 39 38 39 37 38 38 37 39 38
 39 37 37 37 37 37 37 39 38 38 38 39 37 39 37 39 38 38 38 38 38 38 39 39
 37 37 38 37 37 37 37 37 38 38 39 38 39 39 39 39 37 38 39 37 37 37 37 38
 38 39 38 37 39 37 39 38 37 37 37 37 39 37 39 39 39 38 39 37 38 39 39 39
 38 39 38 37 39 38 39 39 39 37 37 38 38 39 39 38 38 37 38 39 39 37 38 38
 39 39 37 39 37 37 38 39 39 37 37 39 37 37 38 39 39 37 37 37 37 39 38 37
 37 38 38 39 38 39 38 38 37 38 38 39 39 37 38 37 38 38 38 39 38 38 39 39
 37 39 38 38 39 39 38 39 38 37 39 39 37 37 39 39 38 38 38 37 39 39 39 38
 38 37 37 39 38 37 37 37 38 38 39 37 37 37 39 37 37 39 39 38 37 39 39 38
 38 37 37 38 37 39 38 38 39 39 38 39 37 37 37 38 39 39 37 38 39 37 39 37
 38 37 38 37 38 39 39 38 39 38 38 38 38 38 39 37 39 37 37 38 38 39 38 39
 37 37 39 39 37 39 39 37 37 37 38 37 37 37 37 37 37 38 39 39 38 37 37 38
 39 38 38 39 37 37 37 39 39 37 39 39 38 37 39 38 37 38 38 38 38 38 39 37
 37 39 38 38 37 37 37 38 37 37 37 37 37 38 37 37 38 38 38 38 37 38 38 38
 38 38 38 37 39 37 38 37 38 38 37 37 39 37 37 39 39 38 37 39 37 38 38 38
 37 39 38 37 37 37 38 38 39 38 38 39 38 38 39 38 37 38 38 39 38 39 38 38
 37 37 39 37 37 38 37 37 37 37 38 39 39 39 37 39 38 38 39 38 39 39 39 38
 37 39 38 38 39]
Outliers in column 'over_faced_first': []
Outliers in column 'strike_rate': [270.59 270.   270.   270.   270.   270.  ]

In [106]:
import numpy as np

for col in numerical_cols:
    Q1 = batsman_df[col].quantile(0.25)
    Q3 = batsman_df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    non_outliers = batsman_df[(batsman_df[col] >= lower_bound) & (batsman_df[col] <= upper_bound)][col]
    mean_value = int(np.round(non_outliers.mean()))  # Round off the mean value
    batsman_df.loc[batsman_df[col] < lower_bound, col] = mean_value
    batsman_df.loc[batsman_df[col] > upper_bound, col] = mean_value

In [108]:
column_names = batsman_df.columns

# Get the data types of all columns
column_dtypes = batsman_df.dtypes

# Combine column names and data types into a DataFrame
column_info = pd.DataFrame({'Data Type': column_dtypes})

print(column_info)

                          Data Type
match id                      int64
batsman                      object
batsman_id                    int64
batsman_dob                  object
batsman_details              object
is_batsman_captain            int64
is_batsman_keeper             int64
inning                        int64
runs                          Int64
balls_faced                   int64
over_faced_first            float64
wicket kind                  object
out_by_bowler                object
out_by_fielder               object
bowler_id                    object
bowler_dob                   object
bowler_details               object
is_bowler_keeper            float64
is_bowler_captain           float64
strike_rate                 float64
Fours                        object
Sixes                        object
match_dt                     object
ingestion_timestamp  datetime64[ns]

In [111]:
def parse_dates(date_str):
    for fmt in ('%m/%d/%Y', '%Y-%m-%d'):
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            pass
    return pd.NaT

In [115]:
# Convert columns to the appropriate datatypes
batsman_df['match id'] = batsman_df['match id'].astype(int)
batsman_df['batsman'] = batsman_df['batsman'].astype('string')
batsman_df['batsman_id'] = batsman_df['batsman_id'].astype(int)
batsman_df['batsman_dob'] = batsman_df['batsman_dob'].apply(parse_dates)
batsman_df['batsman_details'] = batsman_df['batsman_details'].astype('string')
batsman_df['is_batsman_captain'] = batsman_df['is_batsman_captain'].astype(bool)
batsman_df['is_batsman_keeper'] = batsman_df['is_batsman_keeper'].astype(bool)
batsman_df['inning'] = batsman_df['inning'].astype(int)
batsman_df['runs'] = batsman_df['runs'].astype('Int64')
batsman_df['balls_faced'] = batsman_df['balls_faced'].astype(int)
batsman_df['over_faced_first'] = batsman_df['over_faced_first'].astype(float)
batsman_df['wicket kind'] = batsman_df['wicket kind'].astype('string')
batsman_df['out_by_bowler'] = batsman_df['out_by_bowler'].astype('string')
batsman_df['out_by_fielder'] = batsman_df['out_by_fielder'].astype('string')
batsman_df['bowler_id'] = pd.to_numeric(batsman_df['bowler_id'], errors='coerce').astype('Int64')  # allows for NULL values
batsman_df['bowler_dob'] = batsman_df['bowler_dob'].apply(parse_dates)
batsman_df['bowler_details'] = batsman_df['bowler_details'].astype('string')
batsman_df['is_bowler_keeper'] = batsman_df['is_bowler_keeper'].astype('Int64').astype(bool, errors='ignore')  # allows for blank values
batsman_df['is_bowler_captain'] = batsman_df['is_bowler_captain'].astype(bool)
batsman_df['strike_rate'] = batsman_df['strike_rate'].astype(float)

# Convert Fours and Sixes columns to integers, handling non-integer float values
batsman_df['Fours'] = pd.to_numeric(batsman_df['Fours'], errors='coerce').fillna(0).astype(int).astype('Int64')  # handles NULL and non-integer float values
batsman_df['Sixes'] = pd.to_numeric(batsman_df['Sixes'], errors='coerce').fillna(0).astype(int).astype('Int64')  # handles NULL and non-integer float values

batsman_df['match_dt'] = batsman_df['match_dt'].apply(parse_dates)

In [116]:
column_names = batsman_df.columns

# Get the data types of all columns
column_dtypes = batsman_df.dtypes

# Combine column names and data types into a DataFrame
column_info = pd.DataFrame({'Data Type': column_dtypes})

print(column_info)

                          Data Type
match id                      int32
batsman                      string
batsman_id                    int32
batsman_dob          datetime64[ns]
batsman_details              string
is_batsman_captain             bool
is_batsman_keeper              bool
inning                        int32
runs                          Int64
balls_faced                   int32
over_faced_first            float64
wicket kind                  string
out_by_bowler                string
out_by_fielder               string
bowler_id                     Int64
bowler_dob           datetime64[ns]
bowler_details               string
is_bowler_keeper               bool
is_bowler_captain              bool
strike_rate                 float64
Fours                         Int64
Sixes                         Int64
match_dt             datetime64[ns]
ingestion_timestamp  datetime64[ns]

In [117]:
final_output = 'final_output.xlsx'
batsman_df.to_excel(final_output, index=False)