In [1]:
import numpy as np
import pandas as pd

In [2]:
matches_df=pd.read_excel('matchlevel_round.xlsx')

In [3]:
matches_df.head()

,match id,team1,team2,outcome,winner,by,win amount,player of match,toss winner,toss decision,...,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_names,team1_roster_ids,team2_id,team2_roster_names,team2_roster_ids,ingestion_timestamp
0,8587795,Ae Ss,Me Rs,normal,Me Rs,wickets,6,Md Ni,Ae Ss,bat,...,178,4.0,120,33914.0,MT Rw:PD St:AT Cy:J Wd:RJ Gn:JW Ws:Rd Kn:DR Bs...,5056134.0:4685568.0:2285051.0:5469008.0:577649...,33942.0,MW Hy:AJ Fh:SB Hr:Md Ni:JA Pe:J Fk:BJ Wr:Id Wm...,7534687.0:37351.0:5406540.0:181404.0:6842170.0...,2022-02-18 03:12:45
1,8587802,Ht Hs,Sy Ss,normal,Ht Hs,runs,7,MS We,Sy Ss,field,...,181,8.0,120,33928.0,MS We:DM St:BR Mt:DJ Mn:WG Js:TH Dd:NT Es:NP W...,1611364.0:2161599.0:4223883.0:1655436.0:628285...,33956.0,JR Pe:JM Ve:DP Hs:MC Hs:JC Sk:DT Cn:CR Be:SA A...,7869987.0:2076192.0:4002340.0:41740.0:3063696....,2022-02-18 03:12:45
2,8587816,Ph Ss,Sy Ss,normal,Ph Ss,NaN,86,MR Mh,Sy Ss,field,...,97,10.0,100,33935.0,JJ Ry:LS Le:C Mo:JP Is:MR Mh:AJ Tr:AM He:JA Rn...,2089079.0:2827327.0:1626526.0:4635658.0:190716...,33956.0,JR Pe:J Es:JM Ve:DP Hs:JC Sk:DT Cn:CR Be:SJ Oe...,7869987.0:7620283.0:2076192.0:4002340.0:306369...,2022-02-18 03:12:45
3,8587837,Sy Ss,Be Ht,normal,Be Ht,wickets,4,MT Se,Sy Ss,bat,...,171,6.0,119,33956.0,JR Pe:J Es:JM Ve:DP Hs:JC Sk:DT Cn:CR Be:BJ Ds...,7869987.0:7620283.0:2076192.0:4002340.0:306369...,33921.0,M Bt:JA Bs:JL Dy:SD Ht:JJ Pn:L Gy:JJ By:JD Wh:...,7620269.0:2286437.0:87191.0:5786766.0:3114803....,2022-02-18 03:12:45
4,8587844,Ae Ss,Me Rs,normal,Ae Ss,runs,60,RJ Gn,Ae Ss,bat,...,111,10.0,116,33914.0,MT Rw:PD St:AT Cy:JW Ws:RJ Gn:J Wd:Rd Kn:DR Bs...,5056134.0:4685568.0:2285051.0:1635773.0:577649...,33942.0,AJ Fh:MW Hy:SB Hr:Md Ni:BJ Wr:Id Wm:J Fk:JA Pe...,37351.0:7534687.0:5406540.0:181404.0:2669316.0...,2022-02-18 03:12:45

In [4]:
def remove_duplicates(df):
    return df.drop_duplicates(keep='last')

# Apply the function to each dataframe
matches_df = remove_duplicates(matches_df)

# Check if duplicates are removed
print(matches_df.duplicated().sum())

0

In [5]:
matches_df = matches_df[(matches_df['match id'] >= 8000000) & (matches_df['match id'] <= 10000000)]

In [6]:
matches_df = matches_df[(matches_df['win amount'] >= 1) & (matches_df['win amount'] <= 150)]

In [7]:
matches_df = matches_df[(matches_df['ground_id'] >= 50) & (matches_df['ground_id'] <= 26000)]

In [8]:
matches_df = matches_df[(matches_df['inning1_runs'] >= 0) & (matches_df['inning1_runs'] <= 300)]

In [9]:
matches_df = matches_df[(matches_df['inning1_wickets'] >= 0) & (matches_df['inning1_wickets'] <= 10)]

In [10]:
matches_df = matches_df[(matches_df['inning1_balls'] >= 10) & (matches_df['inning1_balls'] <= 120)]

In [11]:
matches_df = matches_df[(matches_df['inning2_runs'] >= 0) & (matches_df['inning2_runs'] <= 300)]

In [12]:
matches_df = matches_df[(matches_df['inning2_wickets'] >= 0) & (matches_df['inning2_wickets'] <= 10)]

In [13]:
matches_df = matches_df[(matches_df['inning2_balls'] >= 10) & (matches_df['inning2_balls'] <= 120)]

In [14]:
matches_df.isnull().sum()

match id                 0
team1                    0
team2                    0
outcome                  0
winner                   0
by                      52
win amount               0
player of match        453
toss winner              0
toss decision            0
match type               0
venue                    0
city                   172
match_dt                 0
lighting                 0
series_name              0
season                   0
ground_id                0
umpire1                174
umpire2                174
inning1_runs             0
inning1_wickets          0
inning1_balls            0
inning2_runs             0
inning2_wickets          0
inning2_balls            0
team1_id                74
team1_roster_names       0
team1_roster_ids        74
team2_id                70
team2_roster_names       0
team2_roster_ids        70
ingestion_timestamp      0
dtype: int64

In [15]:
def update_by(row):
    if pd.isnull(row['by']):
        if row['inning2_runs'] > row['inning1_runs']:
            return 'wickets'
        elif row['inning2_runs'] < row['inning1_runs']:
            return 'runs'
    return row['by']

# Apply the function to each row in the dataframe
matches_df['by'] = matches_df.apply(update_by, axis=1)

In [16]:
matches_df.isnull().sum()

match id                 0
team1                    0
team2                    0
outcome                  0
winner                   0
by                       0
win amount               0
player of match        453
toss winner              0
toss decision            0
match type               0
venue                    0
city                   172
match_dt                 0
lighting                 0
series_name              0
season                   0
ground_id                0
umpire1                174
umpire2                174
inning1_runs             0
inning1_wickets          0
inning1_balls            0
inning2_runs             0
inning2_wickets          0
inning2_balls            0
team1_id                74
team1_roster_names       0
team1_roster_ids        74
team2_id                70
team2_roster_names       0
team2_roster_ids        70
ingestion_timestamp      0
dtype: int64

In [17]:
column_names = matches_df.columns

# Get the data types of all columns
column_dtypes = matches_df.dtypes

# Combine column names and data types into a DataFrame
column_info = pd.DataFrame({'Data Type': column_dtypes})

print(column_info)

                          Data Type
match id                      int64
team1                        object
team2                        object
outcome                      object
winner                       object
by                           object
win amount                    int64
player of match              object
toss winner                  object
toss decision                object
match type                   object
venue                        object
city                         object
match_dt                     object
lighting                     object
series_name                  object
season                       object
ground_id                     int64
umpire1                      object
umpire2                      object
inning1_runs                  int64
inning1_wickets             float64
inning1_balls                 int64
inning2_runs                  int64
inning2_wickets             float64
inning2_balls                 int64
team1_id                    float64
team1_roster_names           object
team1_roster_ids             object
team2_id                    float64
team2_roster_names           object
team2_roster_ids             object
ingestion_timestamp  datetime64[ns]

In [23]:
matches_df['match id'] = matches_df['match id'].astype('int64')
matches_df['team1'] = matches_df['team1'].astype('string')
matches_df['team2'] = matches_df['team2'].astype('string')
matches_df['outcome'] = matches_df['outcome'].astype('string')
matches_df['winner'] = matches_df['winner'].astype('string')
matches_df['by'] = matches_df['by'].astype('string')

matches_df['win amount'] = matches_df['win amount'].astype('int64')

matches_df['player of match'] = matches_df['player of match'].astype('string')

matches_df['toss winner'] = matches_df['toss winner'].astype('string')
matches_df['toss decision'] = matches_df['toss decision'].astype('string')

matches_df['venue'] = matches_df['venue'].astype('string')

matches_df['city'] = matches_df['city'].astype('string')
matches_df['city'] = matches_df['city'].replace('', pd.NA)  # Replace empty strings with NaN

matches_df['lighting'] = matches_df['lighting'].astype('string')
matches_df['series_name'] = matches_df['series_name'].astype('string')
#matches_df['season'] = matches_df['season'].astype('int64')

matches_df['ground_id'] = matches_df['ground_id'].astype('int64')

matches_df['umpire1'] = matches_df['umpire1'].astype('string')
matches_df['umpire2'] = matches_df['umpire2'].astype('string')

matches_df['inning1_runs'] = matches_df['inning1_runs'].astype('int64')
matches_df['inning1_wickets'] = matches_df['inning1_wickets'].astype('int64')
matches_df['inning1_balls'] = matches_df['inning1_balls'].astype('int64')
matches_df['inning2_runs'] = matches_df['inning2_runs'].astype('int64')
matches_df['inning2_wickets'] = matches_df['inning2_wickets'].astype('int64')
matches_df['inning2_balls'] = matches_df['inning2_balls'].astype('int64')

In [24]:
matches_df.isnull().sum()

match id                 0
team1                    0
team2                    0
outcome                  0
winner                   0
by                       0
win amount               0
player of match        453
toss winner              0
toss decision            0
match type               0
venue                    0
city                   172
match_dt                 0
lighting                 0
series_name              0
season                   0
ground_id                0
umpire1                174
umpire2                174
inning1_runs             0
inning1_wickets          0
inning1_balls            0
inning2_runs             0
inning2_wickets          0
inning2_balls            0
team1_id                74
team1_roster_names       0
team1_roster_ids        74
team2_id                70
team2_roster_names       0
team2_roster_ids        70
ingestion_timestamp      0
dtype: int64

In [26]:
numerical_cols = matches_df.select_dtypes(include=['int64', 'float64']).columns

In [27]:
numerical_cols

Index(['match id', 'win amount', 'ground_id', 'inning1_runs',
       'inning1_wickets', 'inning1_balls', 'inning2_runs', 'inning2_wickets',
       'inning2_balls', 'team1_id', 'team2_id'],
      dtype='object')

In [28]:
# Columns to remove
cols_to_remove = ['match id', 'ground_id', 'team1_id', 'team2_id']

numerical_cols = list(numerical_cols)

# Remove columns from the list
for col in cols_to_remove:
    if col in numerical_cols:
        numerical_cols.remove(col)

In [29]:
numerical_cols

['win amount',
 'inning1_runs',
 'inning1_wickets',
 'inning1_balls',
 'inning2_runs',
 'inning2_wickets',
 'inning2_balls']

In [31]:
for col in numerical_cols:
    Q1 = matches_df[col].quantile(0.25)
    Q3 = matches_df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = matches_df[(matches_df[col] < lower_bound) | (matches_df[col] > upper_bound)][col]
    print(f"Outliers in column '{col}': {outliers.values}")

Outliers in column 'win amount': [ 86  60 111  96  82  64  66  65  80 103  76  73  79 130 112 117  90  89
 100  60 131  77 110  61 110  80  89  94  67  82  63 114  75  77  74  63
  93  69  69  86  70  85  60 106 120 100  75  78  60  64  70 130  62  66
  72  58  90  73  62  82  94  61  81 117  79  73  82 130  92  63  93 102
  58  64  57 117  66  65  72  61  65  94  62  69  60 104  89 104  65  79
  84  65  88  61  75  67  91  62 102  68  88  90 111 132  65  80  87 109
  77 124  62  59 125  63  67  92  59  61 129  71  74  88  58 124  76  59
  73  65 124  80 144  78  92  62  67  60  67 119  84  60  81  77  72  57
 112  77  65 133  98  90  59 122  88  81  81  62 111  75  88  64  83 128
 120  87  70 124  68 106  74  72]
Outliers in column 'inning1_runs': [ 52  62  47  63  60  72 273 255  60  44  55  73  59  63  69 261 261  75
 254  68 254  40 271 258  74 258 267  64  74  66  48  47]
Outliers in column 'inning1_wickets': [0]
Outliers in column 'inning1_balls': [ 63  88 106 114 111  61  33  88 105 117 100 103  79  30 111 118 107  32
 119 106 116 104  94 101  96 104  94 114  45 118 119 101 101 107 103 103
  88 107 101 102 109 104 101 103 103 102 102 101  67 108 104 104 107 103
 107 100 103 101  95 100  62 115  99 116 112 112 101 118  61  89 116  94
 108 108  98 118 119 114 116 108 114 116 107 109 112 114 119  91 116  75
 115  86  87 107 114 110 116 110  49  94  49 117  72  45 108 103 105 109
 101 102 104 106 107 103  98 108 105 103 101 106 104 103 103 103 119  75
 105  71 110 100 109 112  87 118 113  89 111 114 119 117  49  86 116 115
  81 110  91 107  99 112 115  98 102 116  90 115 112 119 118 118  59 119
 112 117 107 119 105 101 108 103 104 102 100 103  94 104 103 103 101 103
 102 103 105 106 108 119 108 110  98 111 101 110 116 116 114  30  80]
Outliers in column 'inning2_runs': [ 55  50 232  31  45  56 233  59  51  15  52  43  50 259  54 244  59  53]
Outliers in column 'inning2_wickets': []
Outliers in column 'inning2_balls': [61 75 74 78 58 28 63 64 75 74 77 23 75 25 76 76 65 75 74 40 30 55 76 56
 25 74 76 68 77 79 68 53 70 47 46 51 65 74 41 40 40 65 37 47 78 52 57 47
 52 75 74 61 68 43 79 75 64 64 69 49 67 59 51 70 77 77 36 79 43 48 33 73
 56 77 79 58 64 47 59 70 70 51 33 60 77 51 65 73 46 59 77 55 66 58 58 55
 22 79 42 58 33 29]

In [33]:
for col in numerical_cols:
    Q1 = matches_df[col].quantile(0.25)
    Q3 = matches_df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    non_outliers = matches_df[(matches_df[col] >= lower_bound) & (matches_df[col] <= upper_bound)][col]
    mean_value = int(np.round(non_outliers.mean()))  # Round off the mean value
    matches_df.loc[matches_df[col] < lower_bound, col] = mean_value
    matches_df.loc[matches_df[col] > upper_bound, col] = mean_value

In [34]:
final_output = 'matches.xlsx'
matches_df.to_excel(final_output, index=False)

In [35]:
all_columns = matches_df.columns

# Print the column names
print(all_columns)

Index(['match id', 'team1', 'team2', 'outcome', 'winner', 'by', 'win amount',
       'player of match', 'toss winner', 'toss decision', 'match type',
       'venue', 'city', 'match_dt', 'lighting', 'series_name', 'season',
       'ground_id', 'umpire1', 'umpire2', 'inning1_runs', 'inning1_wickets',
       'inning1_balls', 'inning2_runs', 'inning2_wickets', 'inning2_balls',
       'team1_id', 'team1_roster_names', 'team1_roster_ids', 'team2_id',
       'team2_roster_names', 'team2_roster_ids', 'ingestion_timestamp'],
      dtype='object')